In [8]:
import pandas as pd

In [27]:
df_xlsx = pd.read_excel("./Data/Data_Asia_Data.xlsx", skiprows=2)
df_xlsx.head()

       Country  Years  Life expectancy  Population  GDP
0  Afghanistan   1962               29     8425333  779
1  Afghanistan   1967               30     9240934  821
2  Afghanistan   1972               32    10267083  853
3  Afghanistan   1977               34    11537966  836
4  Afghanistan   1982               36    13079460  740

In [23]:
print('Number of rows:', df_xlsx.shape[0])
print('Number of columns:', df_xlsx.shape[1])

Number of rows: 396
Number of columns: 5

In [14]:
df_csv = pd.read_csv("./Data/Data_Asia_Data.csv")
df_csv.head()

       Country  Years  Life expectancy  Population  GDP
0  Afghanistan   1962               29     8425333  779
1  Afghanistan   1967               30     9240934  821
2  Afghanistan   1972               32    10267083  853
3  Afghanistan   1977               34    11537966  836
4  Afghanistan   1982               36    13079460  740

In [25]:
print('Number of rows:', df_csv.shape[0])
print('Number of columns:', df_csv.shape[1])

Number of rows: 396
Number of columns: 5