# 3.2a Info about *pandas* Dataframes    

- [Getting Info about a Dataframe](#Getting-Info-about-a-Dataframe)  
  - shape    
  - dtypes    
  - describe()  
  
  
- [Getting Info about Individual Columns in a Dataframe](#Explore-individual-columns)    
  - describe()  
  - unique()


- **Data Files Required**  
  - olympics.csv

In [1]:
#Import pandas 
import pandas as pd

In [2]:
#Read the csv file into a pandas dataframe
#Note: This file is in the Data folder underneath this folder 
df = pd.read_csv('Data//olympics.csv')

#Display the first five records/rows in the dataframe
df.head()

   Rank              Country  Gold  Silver  Bronze  Total
0     1  United States (USA)    46      37      38    121
1     2  Great Britain (GBR)    27      23      17     67
2     3          China (CHN)    26      18      26     70
3     4         Russia (RUS)    19      17      19     55
4     5        Germany (GER)    17      10      15     42

# Getting Info about a Dataframe
- shape   
- dtypes  
- describe()

In [3]:
# shape: displays the number of rows and columns in the dataframe

In [10]:
# Nicer display of number of rows and columns in the dataframe
# This is the one I want you to use for the rest of the course!
print("Number of Rows:  ", df.shape[0])
print("Number of Columns:  ", df.shape[0])

Number of Rows:   87
Number of Columns:   87

In [5]:
# Display the datatypes of the columns in the dataframe
df.dtypes

Rank        int64
Country    object
Gold        int64
Silver      int64
Bronze      int64
Total       int64
dtype: object

In [14]:
# Display some statistical stats about the columns in the dataframe
df.describe()

            Rank       Gold     Silver     Bronze       Total
count  87.000000  87.000000  87.000000  87.000000   87.000000
mean   43.091954   3.528736   3.517241   4.126437   11.172414
std    24.193326   6.867245   5.726036   6.263227   18.213340
min     1.000000   0.000000   0.000000   0.000000    1.000000
25%    22.500000   0.000000   0.000000   1.000000    2.000000
50%    44.000000   1.000000   2.000000   2.000000    4.000000
75%    65.000000   3.000000   4.000000   4.000000   11.000000
max    78.000000  46.000000  37.000000  38.000000  121.000000

## Explore individual columns

In [11]:
# Display some info about the Country column (Non-numeric)
df['Gold'].describe()

count    87.000000
mean      3.528736
std       6.867245
min       0.000000
25%       0.000000
50%       1.000000
75%       3.000000
max      46.000000
Name: Gold, dtype: float64

In [13]:
# Display the unique values in the Country column
df['Country'].unique()

array(['United States (USA)', 'Great Britain (GBR)', 'China (CHN)',
       'Russia (RUS)', 'Germany (GER)', 'Japan (JPN)', 'France (FRA)',
       'South Korea (KOR)', 'Italy (ITA)', 'Australia (AUS)',
       'Netherlands (NED)', 'Hungary (HUN)', 'Brazil (BRA)*',
       'Spain (ESP)', 'Kenya (KEN)', 'Jamaica (JAM)', 'Croatia (CRO)',
       'Cuba (CUB)', 'New Zealand (NZL)', 'Canada (CAN)',
       'Uzbekistan (UZB)', 'Kazakhstan (KAZ)', 'Colombia (COL)',
       'Switzerland (SUI)', 'Iran (IRI)', 'Greece (GRE)',
       'Argentina (ARG)', 'Denmark (DEN)', 'Sweden (SWE)',
       'South Africa (RSA)', 'Ukraine (UKR)', 'Serbia (SRB)',
       'Poland (POL)', 'North Korea (PRK)', 'Belgium (BEL)',
       'Thailand (THA)', 'Slovakia (SVK)', 'Georgia (GEO)',
       'Azerbaijan (AZE)', 'Belarus (BLR)', 'Turkey (TUR)',
       'Armenia (ARM)', 'Czech Republic (CZE)', 'Ethiopia (ETH)',
       'Slovenia (SLO)', 'Indonesia (INA)', 'Romania (ROU)',
       'Bahrain (BRN)', 'Vietnam (VIE)', 'Chinese Taipei (TPE)',
       'Bahamas (BAH)', "Côte d'Ivoire (CIV)",
       'Independent Olympic Athletes (IOA)', 'Fiji (FIJ)', 'Jordan (JOR)',
       'Kosovo (KOS)', 'Puerto Rico (PUR)', 'Singapore (SIN)',
       'Tajikistan (TJK)', 'Malaysia (MAS)', 'Mexico (MEX)',
       'Algeria (ALG)', 'Ireland (IRL)', 'Lithuania (LTU)',
       'Bulgaria (BUL)', 'Venezuela (VEN)', 'India (IND)',
       'Mongolia (MGL)', 'Burundi (BDI)', 'Grenada (GRN)', 'Niger (NIG)',
       'Philippines (PHI)', 'Qatar (QAT)', 'Norway (NOR)', 'Egypt (EGY)',
       'Tunisia (TUN)', 'Israel (ISR)', 'Austria (AUT)',
       'Dominican Republic (DOM)', 'Estonia (EST)', 'Finland (FIN)',
       'Morocco (MAR)', 'Moldova (MDA)', 'Nigeria (NGR)',
       'Portugal (POR)', 'Trinidad and Tobago (TTO)',
       'United Arab Emirates (UAE)'], dtype=object)

In [9]:
# Display some info about the Gold column (Numeric)
df['Gold']

0     46
1     27
2     26
3     19
4     17
5     12
6     10
7      9
8      8
9      8
10     8
11     8
12     7
13     7
14     6
15     6
16     5
17     5
18     4
19     4
20     4
21     3
22     3
23     3
24     3
25     3
26     3
27     2
28     2
29     2
      ..
57     1
58     1
59     0
60     0
61     0
62     0
63     0
64     0
65     0
66     0
67     0
68     0
69     0
70     0
71     0
72     0
73     0
74     0
75     0
76     0
77     0
78     0
79     0
80     0
81     0
82     0
83     0
84     0
85     0
86     0
Name: Gold, Length: 87, dtype: int64