# 2010 LA Census Analysis

### Imports

In [168]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

import pandas as pd

### Reading .csv file

In [169]:
# Reading file to df
df = pd.read_csv('Data//2010_Census_Populations_by_Zip_Code.csv')

# Displaying df to ensure file was read correctly
df.head(5)

,Zip Code,city,state_id,state_name,county_name,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,90001,Los Angeles,CA,California,Los Angeles,57110,26.6,28468,28642,12971,4.40
1,90002,Los Angeles,CA,California,Los Angeles,51223,25.5,24876,26347,11731,4.36
2,90003,Los Angeles,CA,California,Los Angeles,66266,26.3,32631,33635,15642,4.22
3,90004,Los Angeles,CA,California,Los Angeles,62180,34.8,31302,30878,22547,2.73
4,90005,Los Angeles,CA,California,Los Angeles,37681,33.9,19299,18382,15044,2.50

### Preparing data

In [170]:
# Viewing data types
df.dtypes

Zip Code                    int64
city                       object
state_id                   object
state_name                 object
county_name                object
Total Population            int64
Median Age                float64
Total Males                 int64
Total Females               int64
Total Households            int64
Average Household Size    float64
dtype: object

In [171]:
# Renaming columns
new_columns = {'Zip Code':'zip_code','Total Population':'total_population',
'Median Age':'median_age','Total Males':'total_males','Total Females':'total_females','Total Households':'total_households','Average Household Size':'avg_household_size'}

df.rename(columns = new_columns, inplace=True)
df.head()

,zip_code,city,state_id,state_name,county_name,total_population,median_age,total_males,total_females,total_households,avg_household_size
0,90001,Los Angeles,CA,California,Los Angeles,57110,26.6,28468,28642,12971,4.40
1,90002,Los Angeles,CA,California,Los Angeles,51223,25.5,24876,26347,11731,4.36
2,90003,Los Angeles,CA,California,Los Angeles,66266,26.3,32631,33635,15642,4.22
3,90004,Los Angeles,CA,California,Los Angeles,62180,34.8,31302,30878,22547,2.73
4,90005,Los Angeles,CA,California,Los Angeles,37681,33.9,19299,18382,15044,2.50

In [172]:
df.plot.bar(x='zip_code',
           y='total_population')

ImportError: matplotlib is required for plotting.