# 2010 Census Analysis

### Imports

In [7]:
import pandas as pd

### Reading .csv file

In [9]:
# Reading file to df
df = pd.read_csv('Data//2010_Census_Populations_by_Zip_Code.csv')

# Displaying df to ensure file was read correctly
df.head()

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,91371,1,73.5,0,1,1,1.00
1,90001,57110,26.6,28468,28642,12971,4.40
2,90002,51223,25.5,24876,26347,11731,4.36
3,90003,66266,26.3,32631,33635,15642,4.22
4,90004,62180,34.8,31302,30878,22547,2.73