# 2010 LA Census Analysis

### Imports

In [113]:
from IPython.display import display, HTML
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import math
import plotly.plotly as py
import plotly.graph_objs as go
import plotly
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
cf.set_config_file(offline=True)

### Reading .csv file

In [114]:
# Reading file to df
df = pd.read_csv('Data//2010_Census_Populations_by_Zip_Code.csv')

# Displaying df to ensure file was read correctly
df.head(5)

,Zip Code,city,state_id,state_name,county_name,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,90001,Los Angeles,CA,California,Los Angeles,57110,26.6,28468,28642,12971,4.40
1,90002,Los Angeles,CA,California,Los Angeles,51223,25.5,24876,26347,11731,4.36
2,90003,Los Angeles,CA,California,Los Angeles,66266,26.3,32631,33635,15642,4.22
3,90004,Los Angeles,CA,California,Los Angeles,62180,34.8,31302,30878,22547,2.73
4,90005,Los Angeles,CA,California,Los Angeles,37681,33.9,19299,18382,15044,2.50

### Preparing data

In [115]:
# Viewing data types
df.dtypes

Zip Code                    int64
city                       object
state_id                   object
state_name                 object
county_name                object
Total Population            int64
Median Age                float64
Total Males                 int64
Total Females               int64
Total Households            int64
Average Household Size    float64
dtype: object

In [116]:
# Renaming columns
new_columns = {'Zip Code':'zip_code','Total Population':'total_population',
'Median Age':'median_age','Total Males':'total_males','Total Females':'total_females','Total Households':'total_households','Average Household Size':'avg_household_size'}

df.rename(columns = new_columns, inplace=True)
df.head()

,zip_code,city,state_id,state_name,county_name,total_population,median_age,total_males,total_females,total_households,avg_household_size
0,90001,Los Angeles,CA,California,Los Angeles,57110,26.6,28468,28642,12971,4.40
1,90002,Los Angeles,CA,California,Los Angeles,51223,25.5,24876,26347,11731,4.36
2,90003,Los Angeles,CA,California,Los Angeles,66266,26.3,32631,33635,15642,4.22
3,90004,Los Angeles,CA,California,Los Angeles,62180,34.8,31302,30878,22547,2.73
4,90005,Los Angeles,CA,California,Los Angeles,37681,33.9,19299,18382,15044,2.50

In [117]:
# Changing data types
df['zip_code'] = df['zip_code'].apply(lambda x: str(x))
df.dtypes

zip_code               object
city                   object
state_id               object
state_name             object
county_name            object
total_population        int64
median_age            float64
total_males             int64
total_females           int64
total_households        int64
avg_household_size    float64
dtype: object

In [118]:
# Pivoting
df_wide_pop = df.pivot(index='zip_code',
                       columns='city',
                      values='total_population')
df_wide_pop.head()
df.dtypes

zip_code               object
city                   object
state_id               object
state_name             object
county_name            object
total_population        int64
median_age            float64
total_males             int64
total_females           int64
total_households        int64
avg_household_size    float64
dtype: object

In [119]:
df_wide_pop.columns

Index(['Bell Gardens', 'Beverly Hills', 'Compton', 'Culver City', 'Dodgertown',
       'Downey', 'El Segundo', 'Gardena', 'Hawthorne', 'Hermosa Beach',
       'Huntington Park', 'Inglewood', 'Lawndale', 'Los Angeles', 'Lynwood',
       'Malibu', 'Manhattan Beach', 'Marina Del Rey', 'Maywood',
       'Pacific Palisades', 'Palos Verdes Peninsula', 'Playa Del Rey',
       'Playa Vista', 'Rancho Palos Verdes', 'Redondo Beach', 'Santa Monica',
       'South Gate', 'Topanga', 'Torrance', 'Venice', 'West Hollywood',
       'Whittier'],
      dtype='object', name='city')

In [123]:
import matplotlib
import matplotlib.pyplot as plt
df.plot.line(x='zip_code', 
           y='total_population', 
           title='US GDP per Capita')

ImportError: matplotlib is required for plotting.