# 4.3b  *Field* Operations II
 
- [Getting Rid of Non-Numeric Field Junk: Dollar Signs, commas, etc...](#Getting-Rid-of-Non-Numeric-Field-Junk)    
   

- [Changing Data Type](#Changing-Data-Type)  
    - string to int  
    - string to float  
    - string to date

In [49]:
import pandas as pd

# Getting Rid of Non-Numeric Field Junk

In [50]:
# Hardcode a dataframe
df_Shoes = pd.DataFrame(
    [
    [1,'2017-01-01','Boots','7 (US)', '$25,000'],
    [2,'2017-01-01','Boots','4 (US)', '$35,000'],
    [3,'2017-01-01','Boots','6 (US)', '$21,000'],
    ],
    columns=['OrderID','Order Date','Product','Size','Price'])

df_Shoes.head()

   OrderID  Order Date Product    Size    Price
0        1  2017-01-01   Boots  7 (US)  $25,000
1        2  2017-01-01   Boots  4 (US)  $35,000
2        3  2017-01-01   Boots  6 (US)  $21,000

In [51]:
# Get rid of non-numeric junk in the Price field
df_Shoes['Price'] = df_Shoes['Price'].str.replace('$', '')
df_Shoes['Price'] = df_Shoes['Price'].str.replace(',', '')

df_Shoes['Price'].head()

0    25000
1    35000
2    21000
Name: Price, dtype: object

In [52]:
# Get rid of non-numeric junk in the Size field
df_Shoes['Size'] = df_Shoes['Size'].str.replace('(', '')
df_Shoes['Size'] = df_Shoes['Size'].str.replace('US', '')
df_Shoes['Size'] = df_Shoes['Size'].str.replace(')', '')

df_Shoes['Size'].head()

0    7
1    4
2    6
Name: Size, dtype: object

# Changing Data Type

In [53]:
# Check data types
# Note the data type for Price and Size are objects, which means pandas thinks they are strings
df_Shoes.dtypes

OrderID        int64
Order Date    object
Product       object
Size          object
Price         object
dtype: object

## Changing a string to an int

In [54]:
# Change the data type of Size from string to int
df_Shoes['Size'] = pd.to_numeric(df_Shoes['Size']).astype(int)

df_Shoes.dtypes

OrderID        int64
Order Date    object
Product       object
Size           int32
Price         object
dtype: object

## Changing a string to a float

In [55]:
# Change the data type of Price to float
df_Shoes['Price'] = pd.to_numeric(df_Shoes['Price']).astype(float)
df_Shoes.dtypes

OrderID         int64
Order Date     object
Product        object
Size            int32
Price         float64
dtype: object

## string to date

In [56]:
# Change Order Date from string to date
df_Shoes['Order Date'] = pd.to_datetime(df_Shoes['Order Date'])

df_Shoes.dtypes

OrderID                int64
Order Date    datetime64[ns]
Product               object
Size                   int32
Price                float64
dtype: object

In [57]:
df_Shoes.head()

   OrderID Order Date Product  Size    Price
0        1 2017-01-01   Boots     7  25000.0
1        2 2017-01-01   Boots     4  35000.0
2        3 2017-01-01   Boots     6  21000.0