
# 4.4 Left Join Template

1. [Identify the *Left* Table](#1.-Identify-the-Left-Table)    
2. [Identify the *Right* Table](#2.-Identify-the-Right-Table)   
3. [Identify the *Merge* Field/Column](#3.-Identify-the-Merge-Field)   
4. [Merge the Two Dataframes](#4.-Merge-the-Two-Dataframes)  
5. [Verify that the Merge is Correct](#5.-Verify-that-the-Merge-is-Correct)  
6. [Save the Merged Dataframe as a Pickle File](#6.-Save-the-Merged-Dataframe-as-a-Pickle-File)

In [1]:
import pandas as pd
import pickle

# 1. Identify the Left Table  

### Questions to answer:  
1. What is the Left Table? Products-Categories
1. Why is this the Left table/data set?  This is the left data set because we are adding a new sheet to this data.

2. Number of Rows: 77 
3. Number of Columns:  6

In [2]:
file = './Data/Ex_4.4_InClass_Merge.pkl'

In [3]:
# Read the Left Table data into a dataframe named: df_Left
df_Left = pd.read_pickle(file)

In [4]:
# Display the first rows in the dataframe
df_Left.head()

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price,CategoryName,Description
0,1,Chais,1,1,10 boxes x 20 bags,18.00,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Chang,1,1,24 - 12 oz bottles,19.00,Beverages,"Soft drinks, coffees, teas, beers, and ales"
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,Condiments,"Sweet and savory sauces, relishes, spreads, an..."

In [5]:
print("Number of Rows in the Left dataframe:  ", df_Left.shape[0])
print("Number of Columns in Left dataframe:  ", df_Left.shape[1])

Number of Rows in the Left dataframe:   77
Number of Columns in Left dataframe:   8

# 2. Identify the Right Table  

### Questions to answer:  
1. What is the Right Table? Suppliers
1. Why is this the Right table/data set?  This is the right data set because we are adding this data into the Products-Categories sheet.
2. What columns does it contain that we want to add to the columns in the Left table/dataframe?  SupplierName, ContactName, Address, City, PostalCode, Country, Phone
2. Number of Rows:  29   
3. Number of Columns:  8

In [6]:
file = 'Data//w3schools_Data.xlsx'

In [7]:
# Read the Right Table data into a dataframe named: df_Right
df_Right = pd.read_excel(file, 'Suppliers')

In [8]:
# Display the first rows in the dataframe
df_Right.head()

,SupplierID,SupplierName,ContactName,Address,City,PostalCode,Country,Phone
0,1,Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,EC1 4SD,UK,(171) 555-2222
1,2,New Orleans Cajun Delights,Shelley Burke,P.O. Box 78934,New Orleans,70117,USA,(100) 555-4822
2,3,Grandma Kelly's Homestead,Regina Murphy,707 Oxford Rd.,Ann Arbor,48104,USA,(313) 555-5735
3,4,Tokyo Traders,Yoshi Nagase,9-8 Sekimai Musashino-shi,Tokyo,100,Japan,(03) 3555-5011
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Calle del Rosal 4,Oviedo,33007,Spain,(98) 598 76 54

In [9]:
print("Number of Rows in the Right dataframe:  ", df_Right.shape[0])
print("Number of Columns in Right dataframe:  ", df_Right.shape[1])

Number of Rows in the Right dataframe:   29
Number of Columns in Right dataframe:   8

# 3. Identify the Merge Field  

Questions to answer:  
1. What is the Merge Column?  SupplierID
2. Is this Merge Column in both dataframes? This is the merge column for both dataframes. 
3. Why is this the correct Merge Column? This is the merge column because it is a similar field between both dataframes.

# 4. Merge the Two Dataframes

In [14]:
# Create a new Dataframe from a Left Join of two existing dataframes
df_left_join = pd.merge(df_Left, df_Right, on='SupplierID', how='left')

In [15]:
# Display the first rows in the merged dataframe
df_left_join.head()

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price,CategoryName,Description,SupplierName,ContactName,Address,City,PostalCode,Country,Phone
0,1,Chais,1,1,10 boxes x 20 bags,18.00,Beverages,"Soft drinks, coffees, teas, beers, and ales",Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,EC1 4SD,UK,(171) 555-2222
1,2,Chang,1,1,24 - 12 oz bottles,19.00,Beverages,"Soft drinks, coffees, teas, beers, and ales",Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,EC1 4SD,UK,(171) 555-2222
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,Condiments,"Sweet and savory sauces, relishes, spreads, an...",Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,EC1 4SD,UK,(171) 555-2222
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,Condiments,"Sweet and savory sauces, relishes, spreads, an...",New Orleans Cajun Delights,Shelley Burke,P.O. Box 78934,New Orleans,70117,USA,(100) 555-4822
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,Condiments,"Sweet and savory sauces, relishes, spreads, an...",New Orleans Cajun Delights,Shelley Burke,P.O. Box 78934,New Orleans,70117,USA,(100) 555-4822

# 5. Verify that the Merge is Correct  

1. Display the first several rows of the merged dataframe.
2. Display the number of rows and columns in the merged dataframe  


### Questions to answer:  
1. Number of Rows:  77
  1. How many should there be? 77  
2. Number of Columns:   15
  1. How many should there be?  The number in the Left Table + number in Right Table - 1 (Merge Column is not duplicated) 15
3. Are all the original rows and columns from the Left Table still here?  Yes, the original rows and columns are still present.
4. Are the additional columns from the Right table now here? Yes, the additional columns from the right table are here.

In [16]:
# Display Left dataframe info
print("Left dataframe: ")
print("Number of Rows in Left dataframe:  ", df_Left.shape[0])
print("Number of Cols in Left dataframe:  ", df_Left.shape[1])
print()

# Display Right dataframe info
print("Right dataframe: ")
print("Number of Rows in Right dataframe:  ", df_Right.shape[0])
print("Number of Cols in Right dataframe:  ", df_Right.shape[1])
print()

# Display Merged dataframe info
print("Merged dataframe: ")
print("Number of Rows in Merged dataframe:  ", df_left_join.shape[0], "(Note: This should be same as the Left dataframe)")
print("Number of Cols in Merged dataframe:  ", df_left_join.shape[1], "(Note: This should be Left Cols + Right Cols - 1)")
print()

# Check for correct number of Rows and Cols
expected_merge_cols = df_Left.shape[1] + df_Right.shape[1] - 1

assert df_left_join.shape[0] == df_Left.shape[0], "The Number of Rows in the Merge is NOT Correct!!"
assert df_left_join.shape[1] == expected_merge_cols, "The Number of Columns in the Merge is NOT Correct!!"

print()
print("YOUR MERGE WAS SUCCESSFULL!!!")

Left dataframe:
Number of Rows in Left dataframe:   77
Number of Cols in Left dataframe:   8

Right dataframe:
Number of Rows in Right dataframe:   29
Number of Cols in Right dataframe:   8

Merged dataframe:
Number of Rows in Merged dataframe:   77 (Note: This should be same as the Left dataframe)
Number of Cols in Merged dataframe:   15 (Note: This should be Left Cols + Right Cols - 1)


YOUR MERGE WAS SUCCESSFULL!!!

# 6. Save the Merged Dataframe as a Pickle File

In [17]:
df_left_join.to_pickle('./Data/Ex_4.4_Part1_AddingSupplierInfo.pkl')