In [1]:
import pandas as pd

In [2]:
data_frame = pd.read_csv("https://raw.githubusercontent.com/jbrownlee/Datasets/master/abalone.csv ")

# Q1

We want to read the dataset found at https://github.com/jbrownlee/Datasets/blob/master/abalone.csv into a pandas dataframe.

In [3]:
housing_df = pd.read_csv("https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv")

housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

# Q2

We want to drop the "longitude" column from the housing_df dataframe. (Make sure that you actually have a housing_df dataframe with the column dropped. )

In [4]:
housing_df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [5]:
housing_df = housing_df.drop("longitude", axis=1)

housing_df.columns

Index(['latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms',
       'population', 'households', 'median_income', 'median_house_value',
       'ocean_proximity'],
      dtype='object')

# Q3

We want to drop all of the columns in the housing_df dataframe that have any missing values. (In the video, we dropped the rows. You may need a documentation search.)

In [6]:
housing_df = housing_df.dropna(axis=1)

housing_df

,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity
0,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...
20635,39.48,25.0,1665.0,845.0,330.0,1.5603,78100.0,INLAND
20636,39.49,18.0,697.0,356.0,114.0,2.5568,77100.0,INLAND
20637,39.43,17.0,2254.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,39.43,18.0,1860.0,741.0,349.0,1.8672,84700.0,INLAND
20639,39.37,16.0,2785.0,1387.0,530.0,2.3886,89400.0,INLAND

# Q4

We want to save the data in the housing_df dataframe in a .csv file called "housing.csv" on our computer. (Previous knowledge or documentation search.)

In [9]:
housing_df.to_csv('housing.csv')