# 4.3a  *Field* Operations
- [Stripping Extra Spaces](#Stripping-Extra-Spaces)  


- [Splitting Columns](#Splitting-Columns)

In [1]:
import pandas as pd

# Stripping Extra Spaces

In [2]:
# Hardcode a dataframe 
df_employees = pd.DataFrame(
    [
    [1699,'  Robinett, David  ','  david22@adventure-works.com  ', '(827) 525-0100', '06-05-2010', '$80,950'], 
    [1700,'  Robinson, Rebecca  ','  rebecca5 @adventure-works.com  ', '(829) 525-0101', '05-01-2015', '$70,950'],
    [1701,'     Robinson, Dorothy    ','  dorothy3@adventure-works.com    ', '(828) 555-0102', '03-01-2017', '$50,00'],
    ], 
    columns=['BusinessEntityID', 'EmployeeName','EmailAddress', 'PhoneNumber', 'StartDate', 'CurrentSalary']
  
df_employees

SyntaxError: invalid syntax (<ipython-input-2-a3704cc47d58>, line 10)

In [ ]:
# Show the 'before'
df_employees['EmployeeName']

In [ ]:
# Strip extra spaces from Product column
df_employees['EmployeeName'] = df_employees['EmployeeName']

In [ ]:
# Show the 'after'
df_employees['EmployeeName']

# Splitting Columns  
The steps involved are:  
1. Split the column.  The two new columns will be in a new temporary dataframe
2. Give names to the two new columns  
3. Create a new Dataframe by concatenating the new temp dataframe to the existing dataframe - **Vertically**!  
  1. This means that instead of adding it 'below' the existing dataframe, we add it to the right side of the existing dataframe!  
  2. So the number of rows doesn't/shouldn't change, but the number of columns will be two greater than the existing dataframe.

In [ ]:
# Display the column names
df_employees.columns

### 1. Split the CustomerName column into a temp dataframe

In [ ]:
# Note: 
df_temp = df_employees['EmployeeName'].str.split(',') 
df_temp.head()

### 2. Give names to the two columns in the temp dataframe

In [ ]:
df_temp.columns = 'LastName' 'FirstName'
df_temp.head()

### 3. Concatenate the new dataframe with the existing dataframe

In [ ]:
df_employees2 = pd.concat([], )
df_employees2.head()

In [ ]:
# Save the new dataframe as a pickle named: 4.3a_NB_Employees.pkl
df_employees2.to_pickle('./Data/4.3a_NB_Employees.pkl')