# Predicting Hazardous Asteroids

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Intro" data-toc-modified-id="Intro-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Intro</a></span><ul class="toc-item"><li><span><a href="#What" data-toc-modified-id="What-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>What</a></span></li><li><span><a href="#Why" data-toc-modified-id="Why-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Why</a></span></li></ul></li><li><span><a href="#Imports" data-toc-modified-id="Imports-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Process-Data" data-toc-modified-id="Process-Data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Process Data</a></span><ul class="toc-item"><li><span><a href="#Load-data" data-toc-modified-id="Load-data-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Load data</a></span></li><li><span><a href="#Understand-data" data-toc-modified-id="Understand-data-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Understand data</a></span></li><li><span><a href="#Clean-data" data-toc-modified-id="Clean-data-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Clean data</a></span></li><li><span><a href="#Visualize-data" data-toc-modified-id="Visualize-data-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Visualize data</a></span></li></ul></li><li><span><a href="#Split-data" data-toc-modified-id="Split-data-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Split data</a></span></li><li><span><a href="#Find-Model" data-toc-modified-id="Find-Model-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Find Model</a></span></li><li><span><a href="#Model-1" data-toc-modified-id="Model-1-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Model 1</a></span></li><li><span><a href="#Model-2" data-toc-modified-id="Model-2-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Model 2</a></span></li></ul></div>

***

## Intro

### What

NASA (National Aeronautics and Space Administration) is a world-renown organization headquartered in the United States.  The organization was created during the Space Race with Russia, in response to Sputnik 1 being launched into orbit around Earth.  Since then, NASA has landed people on the moon, rovers on Mars, telescopes into deep space, built (with international partnerships) a space station, and is still working to develop new technologies every day.  Part of their research takes a look at asteroids and attempts to determine if asteroids are hazardous or safe to Earth, so that we can take proper action should it be necessary.  The data used in this project comes from [Kaggle](https://www.kaggle.com/shrutimehta/nasa-asteroids-classification), but originates from NASA.

This data contains 40 variables which can be summarized as follows:

- The first two columns contain identical identifier values and are not too important or beneficial for a model. 
- The next feature is the absolute magnitude which looks looks at the brightness of an celestial object, according to the definition of absolute magnitude, as it would be seen at a distance of 10 parsecs (equal to 1.9174E+14 miles).  
- The next set of features are related to the diameter of asteroids.  Estimates are made in kilometers (km), meters (m), miles (mi), and feet (ft), with data for the maximum and minimum of each distance.  
- There are two columns addressing the date asteroids will approach Earth, by date and periods (epoch).  
- Features also include the speed of the asteroid, the distance from the earth the asteroid will pass, measured in astronomical, lunar, km, and mi units.  
- There are a number of columns dealing with the orbit pattern including the orbital period, perihelion distance, aphelion distance, eccentricity and the like.

There is one target in the 40 columns:

- The target variable is `hazardous` column, showing whether the asteroid is hazardous or not, based on size, speed, and orbit.

### Why

My grandfather worked for NASA during the Apollo missions.  This alone got me interested in a career in aeronautics, as well as witnessing SpaceX's many successes (and failures) and eventual partnership with NASA to launch American astronauts from American soil.  Today, my interest in space continues to grow and one of my goals is to work for an aeronautics company in the future.  Chances of me getting that a role like that are slim, right now, so the best thing I can do is work with data they provide to continue building my skills and experience.

Let's get started!

***

## Imports

First, we will import "global" packages that we will use throughout our code.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

***

## Process Data

### Load data

Thanks to this data coming from Kaggle, there are no special steps or attributes necessary to load data into a data frame.  We can just use the `read_csv()` function included in the Pandas library.

In [2]:
# load csv into pandas dataframe
asteroids = pd.read_csv("nasa.csv")

### Understand data

Now that the data has been loaded, let's take a run-down of contents.  Again, this data comes from Kaggle and thus has already been preprocessed, but we might want to do more to make it our own.

In [3]:
# view basic info about columns
asteroids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4687 entries, 0 to 4686
Data columns (total 40 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Neo Reference ID              4687 non-null   int64
 1   Name                          4687 non-null   int64
 2   Absolute Magnitude            4687 non-null   float64
 3   Est Dia in KM(min)            4687 non-null   float64
 4   Est Dia in KM(max)            4687 non-null   float64
 5   Est Dia in M(min)             4687 non-null   float64
 6   Est Dia in M(max)             4687 non-null   float64
 7   Est Dia in Miles(min)         4687 non-null   float64
 8   Est Dia in Miles(max)         4687 non-null   float64
 9   Est Dia in Feet(min)          4687 non-null   float64
 10  Est Dia in Feet(max)          4687 non-null   float64
 11  Close Approach Date           4687 non-null   object
 12  Epoch Date Close Approach     4687 non-null   int64
 13  Relative Velocity km per sec  4687 non-null   float64
 14  Relative Velocity km per hr   4687 non-null   float64
 15  Miles per hour                4687 non-null   float64
 16  Miss Dist.(Astronomical)      4687 non-null   float64
 17  Miss Dist.(lunar)             4687 non-null   float64
 18  Miss Dist.(kilometers)        4687 non-null   float64
 19  Miss Dist.(miles)             4687 non-null   float64
 20  Orbiting Body                 4687 non-null   object
 21  Orbit ID                      4687 non-null   int64
 22  Orbit Determination Date      4687 non-null   object
 23  Orbit Uncertainity            4687 non-null   int64
 24  Minimum Orbit Intersection    4687 non-null   float64
 25  Jupiter Tisserand Invariant   4687 non-null   float64
 26  Epoch Osculation              4687 non-null   float64
 27  Eccentricity                  4687 non-null   float64
 28  Semi Major Axis               4687 non-null   float64
 29  Inclination                   4687 non-null   float64
 30  Asc Node Longitude            4687 non-null   float64
 31  Orbital Period                4687 non-null   float64
 32  Perihelion Distance           4687 non-null   float64
 33  Perihelion Arg                4687 non-null   float64
 34  Aphelion Dist                 4687 non-null   float64
 35  Perihelion Time               4687 non-null   float64
 36  Mean Anomaly                  4687 non-null   float64
 37  Mean Motion                   4687 non-null   float64
 38  Equinox                       4687 non-null   object
 39  Hazardous                     4687 non-null   bool
dtypes: bool(1), float64(30), int64(5), object(4)
memory usage: 1.4+ MB

Each column has the same number of non-null rows which matches the number of rows the dataframe contains (see RangeIndex value at the top of the result pane).  That means there are likely no nulls in the data.  We can see here that there are four (4) columns with the `object` data type and five (5) columns with the `int64` data type.  Let's look at what these columns contain to see if they are helpful. We already plan on dropping the first two `int64` columns, but we will take a look to understand why. We will look at the others following in order, for readability.  

First, `Neo Reference ID`.

In [4]:
# look at 'Neo Reference ID'
asteroids["Neo Reference ID"]

#asteroids["Neo Refernce ID"].sum() = 15337259656

0       3703080
1       3723955
2       2446862
3       3092506
4       3514799
         ...
4682    3759007
4683    3759295
4684    3759714
4685    3759720
4686    3772978
Name: Neo Reference ID, Length: 4687, dtype: int64

In [5]:
# see unique values in column
asteroids["Neo Reference ID"].unique()

#asteroids["Neo Reference ID"].unique().sum() = 12150256364

array([3703080, 3723955, 2446862, ..., 3759714, 3759720, 3772978],
      dtype=int64)

As mentioned before, these values just identify asteroids.  Interesting enough, if you put `.sum()` at the end, it will give you the sum of the column, adding each value together.  That is not the interesting part, as that should be obvious.  What is interesting is if you add `.sum()` to `.unique()` you get a smaller value when you would expect the same value.  This means some asteroids can be found more than once in this data set.  We might want to remove duplicates as they may throw the model off or train it too well. 

The `Name` column should contain the same values, but we can check just to make sure.

In [6]:
# look at 'Name'
asteroids["Name"]

#asteroids["Name"].sum() = 15337259656

0       3703080
1       3723955
2       2446862
3       3092506
4       3514799
         ...
4682    3759007
4683    3759295
4684    3759714
4685    3759720
4686    3772978
Name: Name, Length: 4687, dtype: int64

In [7]:
# see unique values in column
asteroids["Name"].unique()

#asteroids["Name"].unique().sum() = 12150256364

array([3703080, 3723955, 2446862, ..., 3759714, 3759720, 3772978],
      dtype=int64)

Sure enough, as expected, both `Neo Reference ID` and `Name` contain the same values.  We can drop these columns after we use them to remove duplicates.  

Let's look at `Close Approach Date`.

In [8]:
# look at 'Close Approach Date'
asteroids["Close Approach Date"].head()

0    1995-01-01
1    1995-01-01
2    1995-01-08
3    1995-01-15
4    1995-01-15
Name: Close Approach Date, dtype: object

We don't have access to the metadata, but from the column name, `Close Approach Date` is most likely the date the asteroid will pass closest to the earth.  While it might be interesting to see if there is a pattern in dates relating to if an asteroid is hazardous or not, that exploration is for another project.  If we wanted to use this column, we could encode it, but that would result in over 4000 new columns.  Instead of doing that, for this project, we will drop this column. 

Let's look at `Epoch Date Close Approach`.

In [9]:
# look at 'Epoch Date Close Approach'
asteroids["Epoch Date Close Approach"]

0        788947200000
1        788947200000
2        789552000000
3        790156800000
4        790156800000
            ...
4682    1473318000000
4683    1473318000000
4684    1473318000000
4685    1473318000000
4686    1473318000000
Name: Epoch Date Close Approach, Length: 4687, dtype: int64

In [10]:
# see unique values in column
asteroids["Epoch Date Close Approach"].unique()

array([ 788947200000,  789552000000,  790156800000,  790761600000,
        792230400000,  792835200000,  793440000000,  794649600000,
        795254400000,  795859200000,  797324400000,  797929200000,
        798534000000,  799916400000,  800521200000,  801126000000,
        802594800000,  803199600000,  803804400000,  805186800000,
        805791600000,  806396400000,  807865200000,  808470000000,
        809074800000,  810543600000,  811148400000,  811753200000,
        813135600000,  813740400000,  814345200000,  815817600000,
        816422400000,  817027200000,  818409600000,  819014400000,
        819619200000,  821088000000,  821692800000,  822297600000,
        823766400000,  824371200000,  824976000000,  826272000000,
        827481600000,  828946800000,  829551600000,  830156400000,
        831538800000,  832143600000,  832748400000,  834217200000,
        834822000000,  835426800000,  836809200000,  837414000000,
        838018800000,  839487600000,  840092400000,  840697200000,
        842166000000,  842770800000,  843375600000,  844758000000,
        845362800000,  845967600000,  847440000000,  848044800000,
        848649600000,  850032000000,  850636800000,  851241600000,
        852710400000,  853315200000,  853920000000,  855388800000,
        855993600000,  856598400000,  857808000000,  858412800000,
        859017600000,  860482800000,  861087600000,  861692400000,
        863074800000,  863679600000,  864284400000,  865753200000,
        866358000000,  866962800000,  868345200000,  868950000000,
        869554800000,  871023600000,  871628400000,  872233200000,
        873702000000,  874306800000,  874911600000,  876294000000,
        876898800000,  877503600000,  878976000000,  879580800000,
        880185600000,  881568000000,  882172800000,  882777600000,
        884246400000,  884851200000,  885456000000,  886924800000,
        887529600000,  888134400000,  889344000000,  889948800000,
        890553600000,  892018800000,  892623600000,  893228400000,
        894610800000,  895215600000,  895820400000,  897289200000,
        897894000000,  898498800000,  899881200000,  900486000000,
        902559600000,  903164400000,  903769200000,  905238000000,
        905842800000,  906447600000,  907830000000,  908434800000,
        909039600000,  910512000000,  911116800000,  911721600000,
        913104000000,  913708800000,  914313600000,  915782400000,
        916387200000,  916992000000,  918460800000,  919065600000,
        919670400000,  920880000000,  921484800000,  922089600000,
        923554800000,  924159600000,  924764400000,  926751600000,
        927356400000,  928825200000,  929430000000,  930034800000,
        931417200000,  932022000000,  932626800000,  934095600000,
        934700400000,  935305200000,  936774000000,  937378800000,
        937983600000,  939366000000,  939970800000,  940575600000,
        942048000000,  942652800000,  943257600000,  944640000000,
        945244800000,  945849600000,  947318400000,  947923200000,
        948528000000,  949996800000,  950601600000,  951206400000,
        953107200000,  953712000000,  955177200000,  955782000000,
        956386800000,  957769200000,  958374000000,  958978800000,
        960447600000,  961052400000,  961657200000,  963039600000,
        963644400000,  964249200000,  965718000000,  966322800000,
        966927600000,  968396400000,  969001200000,  969606000000,
        970988400000,  971593200000,  972198000000,  973670400000,
        974275200000,  974880000000,  976262400000,  976867200000,
        977472000000,  978940800000,  979545600000,  980150400000,
        981619200000,  982224000000,  982828800000,  984038400000,
        984643200000,  985248000000,  986713200000,  987318000000,
        987922800000,  989305200000,  989910000000,  990514800000,
        991983600000,  992588400000,  993193200000,  994575600000,
        995180400000,  995785200000,  997254000000,  997858800000,
        998463600000,  999932400000, 1000537200000, 1001142000000,
       1002524400000, 1003129200000, 1003734000000, 1005206400000,
       1005811200000, 1006416000000, 1007798400000, 1008403200000,
       1009008000000, 1010476800000, 1011081600000, 1011686400000,
       1013155200000, 1013760000000, 1014364800000, 1015574400000,
       1016179200000, 1016784000000, 1018249200000, 1018854000000,
       1019458800000, 1020841200000, 1021446000000, 1022050800000,
       1023519600000, 1024124400000, 1024729200000, 1026111600000,
       1026716400000, 1027321200000, 1028790000000, 1029394800000,
       1029999600000, 1031468400000, 1032073200000, 1032678000000,
       1034060400000, 1034665200000, 1035270000000, 1036742400000,
       1037347200000, 1037952000000, 1039334400000, 1039939200000,
       1040544000000, 1042012800000, 1042617600000, 1043222400000,
       1044691200000, 1045296000000, 1045900800000, 1047110400000,
       1047715200000, 1048320000000, 1049785200000, 1050390000000,
       1050994800000, 1052377200000, 1052982000000, 1053586800000,
       1055055600000, 1055660400000, 1056265200000, 1057647600000,
       1058252400000, 1058857200000, 1060326000000, 1060930800000,
       1061535600000, 1063004400000, 1063609200000, 1064214000000,
       1065596400000, 1066201200000, 1066806000000, 1068278400000,
       1068883200000, 1069488000000, 1070870400000, 1071475200000,
       1072080000000, 1073548800000, 1074153600000, 1074758400000,
       1076227200000, 1076832000000, 1077436800000, 1078732800000,
       1079337600000, 1079942400000, 1081407600000, 1082012400000,
       1082617200000, 1083999600000, 1084604400000, 1085209200000,
       1086678000000, 1087282800000, 1087887600000, 1089270000000,
       1089874800000, 1090479600000, 1091948400000, 1092553200000,
       1093158000000, 1094626800000, 1095231600000, 1095836400000,
       1097218800000, 1097823600000, 1098428400000, 1099900800000,
       1100505600000, 1101110400000, 1102492800000, 1103097600000,
       1103702400000, 1105171200000, 1105776000000, 1106380800000,
       1107849600000, 1108454400000, 1109059200000, 1110268800000,
       1110873600000, 1111478400000, 1112943600000, 1113548400000,
       1114153200000, 1115535600000, 1116140400000, 1116745200000,
       1118214000000, 1118818800000, 1119423600000, 1121410800000,
       1122015600000, 1123484400000, 1124089200000, 1124694000000,
       1126162800000, 1126767600000, 1127372400000, 1128754800000,
       1129359600000, 1129964400000, 1131436800000, 1132041600000,
       1132646400000, 1134028800000, 1134633600000, 1135238400000,
       1136707200000, 1137312000000, 1137916800000, 1139385600000,
       1139990400000, 1140595200000, 1141804800000, 1142409600000,
       1143014400000, 1144479600000, 1145084400000, 1145689200000,
       1147071600000, 1147676400000, 1148281200000, 1149750000000,
       1150354800000, 1150959600000, 1152342000000, 1152946800000,
       1153551600000, 1155020400000, 1155625200000, 1156230000000,
       1157698800000, 1158303600000, 1158908400000, 1160290800000,
       1160895600000, 1161500400000, 1162972800000, 1163577600000,
       1164182400000, 1165564800000, 1166169600000, 1166774400000,
       1168243200000, 1168848000000, 1169452800000, 1170921600000,
       1171526400000, 1172131200000, 1173340800000, 1173942000000,
       1174546800000, 1176015600000, 1176620400000, 1177225200000,
       1178607600000, 1179212400000, 1179817200000, 1181286000000,
       1181890800000, 1182495600000, 1183878000000, 1184482800000,
       1185087600000, 1186556400000, 1187161200000, 1187766000000,
       1189234800000, 1189839600000, 1190444400000, 1191826800000,
       1192431600000, 1193036400000, 1194508800000, 1195113600000,
       1195718400000, 1197100800000, 1197705600000, 1198310400000,
       1199779200000, 1200384000000, 1200988800000, 1202457600000,
       1203062400000, 1203667200000, 1204963200000, 1205564400000,
       1206169200000, 1207638000000, 1208242800000, 1208847600000,
       1210230000000, 1210834800000, 1211439600000, 1212908400000,
       1213513200000, 1214118000000, 1215500400000, 1216105200000,
       1216710000000, 1218178800000, 1218783600000, 1219388400000,
       1220857200000, 1221462000000, 1222066800000, 1223449200000,
       1224054000000, 1224658800000, 1226131200000, 1226736000000,
       1227340800000, 1228723200000, 1229328000000, 1229932800000,
       1231401600000, 1232006400000, 1232611200000, 1234080000000,
       1234684800000, 1235289600000, 1236499200000, 1237100400000,
       1237705200000, 1239174000000, 1239778800000, 1240383600000,
       1241766000000, 1242370800000, 1242975600000, 1244444400000,
       1245049200000, 1245654000000, 1247036400000, 1247641200000,
       1248246000000, 1249714800000, 1250319600000, 1250924400000,
       1252393200000, 1252998000000, 1253602800000, 1254985200000,
       1255590000000, 1256194800000, 1257667200000, 1258272000000,
       1258876800000, 1260259200000, 1260864000000, 1261468800000,
       1262937600000, 1263542400000, 1264147200000, 1265616000000,
       1266220800000, 1266825600000, 1268035200000, 1268636400000,
       1269241200000, 1270710000000, 1271314800000, 1271919600000,
       1273302000000, 1273906800000, 1274511600000, 1275980400000,
       1276585200000, 1277190000000, 1278572400000, 1279177200000,
       1279782000000, 1281250800000, 1281855600000, 1282460400000,
       1283929200000, 1284534000000, 1285138800000, 1286521200000,
       1287126000000, 1287730800000, 1289203200000, 1289808000000,
       1290412800000, 1291795200000, 1292400000000, 1293004800000,
       1294473600000, 1295078400000, 1295683200000, 1297152000000,
       1297756800000, 1298361600000, 1299571200000, 1300172400000,
       1300777200000, 1302246000000, 1302850800000, 1303455600000,
       1304838000000, 1305442800000, 1306047600000, 1307516400000,
       1308121200000, 1308726000000, 1310108400000, 1310713200000,
       1311318000000, 1312786800000, 1313391600000, 1313996400000,
       1315465200000, 1316070000000, 1316674800000, 1318057200000,
       1318662000000, 1319266800000, 1320739200000, 1321344000000,
       1321948800000, 1323331200000, 1323936000000, 1324540800000,
       1326009600000, 1326614400000, 1327219200000, 1328688000000,
       1329292800000, 1329897600000, 1331193600000, 1331794800000,
       1332399600000, 1333868400000, 1334473200000, 1335078000000,
       1336460400000, 1337065200000, 1337670000000, 1339138800000,
       1339743600000, 1340348400000, 1341730800000, 1342335600000,
       1342940400000, 1344409200000, 1345014000000, 1345618800000,
       1347087600000, 1347692400000, 1348297200000, 1349679600000,
       1350284400000, 1350889200000, 1352361600000, 1352966400000,
       1353571200000, 1354953600000, 1355558400000, 1356163200000,
       1357632000000, 1358236800000, 1358841600000, 1360310400000,
       1360915200000, 1361520000000, 1362729600000, 1363330800000,
       1363935600000, 1365404400000, 1366009200000, 1366614000000,
       1367996400000, 1368601200000, 1369206000000, 1370674800000,
       1371279600000, 1371884400000, 1373266800000, 1373871600000,
       1374476400000, 1375945200000, 1376550000000, 1377154800000,
       1378623600000, 1379228400000, 1379833200000, 1381215600000,
       1381820400000, 1382425200000, 1383897600000, 1384502400000,
       1385107200000, 1386489600000, 1387094400000, 1387699200000,
       1389168000000, 1389772800000, 1390377600000, 1391846400000,
       1392451200000, 1393056000000, 1394265600000, 1394866800000,
       1395471600000, 1396940400000, 1397545200000, 1398150000000,
       1399532400000, 1400137200000, 1400742000000, 1402210800000,
       1402815600000, 1403420400000, 1404802800000, 1405407600000,
       1406012400000, 1407481200000, 1408086000000, 1408690800000,
       1410159600000, 1410764400000, 1411369200000, 1412751600000,
       1413356400000, 1413961200000, 1415433600000, 1416038400000,
       1416643200000, 1418025600000, 1418630400000, 1419235200000,
       1420704000000, 1421308800000, 1421913600000, 1423382400000,
       1423987200000, 1424592000000, 1425801600000, 1426402800000,
       1427007600000, 1428476400000, 1429081200000, 1429686000000,
       1431068400000, 1431673200000, 1432278000000, 1433746800000,
       1434351600000, 1434956400000, 1436338800000, 1436943600000,
       1437548400000, 1439017200000, 1439622000000, 1440226800000,
       1441695600000, 1442300400000, 1442905200000, 1444287600000,
       1444892400000, 1445497200000, 1446969600000, 1447574400000,
       1448179200000, 1449561600000, 1450166400000, 1450771200000,
       1452240000000, 1452844800000, 1453449600000, 1454918400000,
       1455523200000, 1456128000000, 1457424000000, 1458025200000,
       1458630000000, 1460098800000, 1460703600000, 1461308400000,
       1462690800000, 1463295600000, 1463900400000, 1465369200000,
       1465974000000, 1466578800000, 1467961200000, 1468566000000,
       1469170800000, 1470639600000, 1471244400000, 1471849200000,
       1473318000000], dtype=int64)

There are a number of unique values, but it might be the `Close Approach Date` in epoch format.  Since we are not completely sure, we will drop this column too.  

Let's look at `Orbiting Body`.

In [11]:
# look at 'Orbiting Body'
asteroids["Orbiting Body"]

0       Earth
1       Earth
2       Earth
3       Earth
4       Earth
        ...
4682    Earth
4683    Earth
4684    Earth
4685    Earth
4686    Earth
Name: Orbiting Body, Length: 4687, dtype: object

In [12]:
# see unique values in column
asteroids["Orbiting Body"].unique()

array(['Earth'], dtype=object)

Looking at the data in the `Orbiting Body` column, we can tell that the value is the body the asteroid is orbiting.  Now, basic knowledge of the solar system will tell us that we (Earth) orbit the sun, as does everything else in our the solar system.  We then have an idea of what this column will contain for the values we cannot see.  When `.unique()` argument, we are able to find each distinct value in a column.  Having 4686 rows with the same value  ('Earth') seems odd, but since this data is determining if an asteroid is hazardous to Earth and not the entire solar system, it makes sense.  We can remove this column as it provides no helpful information for classification.

Let's take a look at `Orbit ID`.

In [13]:
# look at 'Orbit ID'
asteroids["Orbit ID"]

0       17
1       21
2       22
3        7
4       25
        ..
4682     4
4683     2
4684    17
4685     6
4686    13
Name: Orbit ID, Length: 4687, dtype: int64

In [14]:
# see unique values
asteroids["Orbit ID"].unique()

array([ 17,  21,  22,   7,  25,  40,  43, 100,  30,  12,  23,   5,  42,
        26,   4,  27,  16,  29,  13,   8,  32,  10,   2, 117,  14,  34,
         6,  41,  80,  39,  48,  11,   9,  69,  36,  44,  45,  52,  18,
        24,  19,  72, 253,  50,  75,  38, 121,  67,  37,  28,  94,  60,
        55,  15,  57, 101,  78,   3,  51,  20,  33, 109,  49, 167,  47,
        65, 115,  59,  68,  97,  77,  83,  54,  56,  84,  31,  70,  73,
        87, 236,  53, 193, 164,  64, 271,  35, 412, 138,  85,  88,  96,
       184,  74, 143, 128,  61,   1, 154, 104, 133, 328, 120, 192,  62,
        46, 111, 112,  91, 370,  92,  93, 137,  95,  81, 105, 190, 134,
        71, 122, 182,  89, 146, 350, 102,  66,  58, 132,  63, 131, 165,
       238,  99, 159, 214, 140, 185, 147, 229,  90, 213,  82, 108, 116,
       149, 113, 289, 211, 158, 156,  76, 188,  79, 611, 175, 212, 264,
       114, 130, 170, 324, 119, 127, 259, 453, 285, 123, 337, 103, 106,
       362, 386, 335, 125, 126, 157, 148, 163, 176, 422, 243, 207, 172,
       152,  98, 358, 278,  86, 107], dtype=int64)

If we were to look at a map of asteroids orbiting Earth, we would see rings going around the planet.  Without the meta data it is difficult to be certain what this column is trying to share with us, but it could be an identifier of an orbital pattern.  Because we don't know exactly what this column means, we will remove it from this classification project.

Let's look at `Orbit Determination Date`.

In [15]:
# look at 'Orbit Determination Date'
asteroids["Orbit Determination Date"].head()

0    2017-04-06 08:36:37
1    2017-04-06 08:32:49
2    2017-04-06 09:20:19
3    2017-04-06 09:15:49
4    2017-04-06 08:57:58
Name: Orbit Determination Date, dtype: object

This column contains more dates but this column contains times as well.  Again, without meta data we cannot conclude for sure what the definition of this column is, but it might be pertaining to the date and time an asteroid completes an orbit around Earth.  Much like `Close Approach Date`, `Orbit Determination Date` is not helpful for this classification project, thought it might provide helpful insight for other projects.

Next, we will check out the `Orbit Uncertainity` column.

In [16]:
# look at 'Orbit Uncertainty'
asteroids["Orbit Uncertainity"]

0       5
1       3
2       0
3       6
4       1
       ..
4682    8
4683    6
4684    6
4685    5
4686    6
Name: Orbit Uncertainity, Length: 4687, dtype: int64

In [17]:
asteroids["Orbit Uncertainity"].unique()

array([5, 3, 0, 6, 1, 4, 2, 7, 8, 9], dtype=int64)

The column name has a spelling error, adding an extra 'i' so if we keeping it we could make that change.  However, we do not have much information about this column and therefore we will not use it in this classification project.

Finally, let's look at `Equinox`.

In [18]:
# look at 'Equinox'
asteroids["Equinox"]

0       J2000
1       J2000
2       J2000
3       J2000
4       J2000
        ...
4682    J2000
4683    J2000
4684    J2000
4685    J2000
4686    J2000
Name: Equinox, Length: 4687, dtype: object

In [19]:
# see unique values in `Equinox` column
asteroids["Equinox"].unique()

array(['J2000'], dtype=object)

The "equinox" is the time or date when the equator of the sun matches the equator of the earth, causing day and night to be equal lengths.  In this case, the values are obviously not in standard date and time, however they are in date and time.  This format is called the "standard equinox (and epoch)" where "J" stands for "Julian epoch" and "2000" refers to January 1, 2000, 12:00 Terrestrial Time ([more here](https://community.esri.com/t5/coordinate-reference-systems/drifting-of-the-celestial-sphere-what-is-j2000/ba-p/902058)).  This is a standard value being used since 1984 and is not helpful to determining if an asteroid is hazardous or not, so we will remove this column from our project.

None of the columns with an `object` or `int64` data type are helpful when determining if an asteroid is hazardous or not so we will drop them when we clean the data.

Also, earlier we mentioned removing the first two columns as they are identifiers and contain the exact same data.  We will do this in the next step as well.

### Clean data

In [20]:
# drop columns with 'object' or 'int64' dtypes
asteroids = asteroids.select_dtypes(exclude = ["object", "int64"])

[Code from Stack Overflow](https://stackoverflow.com/questions/48817592/how-to-drop-dataframe-columns-based-on-dtype)

### Visualize data

***

## Split data

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X = asteroids.drop(columns = ["Hazardous"], axis = 1)
y = asteroids["Hazardous"]

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3)

***

## Find Model

In [25]:
from sklearn.model_selection import GridSearchCV

***

## Model 1

***

## Model 2