# Imports

In [1]:
import pandas as pd
import random

# Bible Verse Data

### Load and view file in dataframe

In [2]:
df = pd.read_excel('../Data/bible_kjv.xlsx')

df.head(2)

,id,book,chapter,verse,text
0,1001001,1,1,1,In the beginning God created the heaven and th...
1,1001002,1,1,2,"And the earth was without form, and void; and ..."

### View and edit columns

In [3]:
df.columns

Index(['id', 'book', 'chapter', 'verse', 'text'], dtype='object')

In [4]:
rename_columns = {'b':'book',
                 'c':'chapter',
                 'v':'verse',
                 't':'text'}

df.rename(columns = rename_columns, inplace=True)
df.head(2)

,id,book,chapter,verse,text
0,1001001,1,1,1,In the beginning God created the heaven and th...
1,1001002,1,1,2,"And the earth was without form, and void; and ..."

### View and edit datatypes

In [5]:
df.dtypes

id          int64
book        int64
chapter     int64
verse       int64
text       object
dtype: object

In [6]:
df['book']=pd.to_numeric(df['book']).astype(object)
df.dtypes

id          int64
book       object
chapter     int64
verse       int64
text       object
dtype: object

# Books of the Bible Data

### Load and view file in dataframe

In [7]:
df_books = pd.read_excel('../Data/bible_books.xlsx')

df_books.head(2)

   book book_name
0     1   Genesis
1     2    Exodus

### View and edit columns

In [8]:
df_books.columns

Index(['book', 'book_name'], dtype='object')

### View and edit datatypes

In [9]:
df_books.dtypes

book          int64
book_name    object
dtype: object

# Merge

### Left-joining Bible Verse Data with Books Data to create complete Bible database

In [10]:
df_bible = pd.merge(df_books, df, on = 'book', how = 'left')
df_bible.head()

,book,book_name,id,chapter,verse,text
0,1,Genesis,1001001,1,1,In the beginning God created the heaven and th...
1,1,Genesis,1001002,1,2,"And the earth was without form, and void; and ..."
2,1,Genesis,1001003,1,3,"And God said, Let there be light: and there wa..."
3,1,Genesis,1001004,1,4,"And God saw the light, that it was good: and G..."
4,1,Genesis,1001005,1,5,"And God called the light Day, and the darkness..."

### Editing columns in new dataframe

In [11]:
new_column_order = ['id','book','book_name','chapter','verse','text']

df_bible = df_bible[new_column_order]

print('Number of rows: ',df_bible.shape[0])
print('Number of columns: ',df_bible.shape[1])
df_bible.head()

Number of rows:  31103
Number of columns:  6

,id,book,book_name,chapter,verse,text
0,1001001,1,Genesis,1,1,In the beginning God created the heaven and th...
1,1001002,1,Genesis,1,2,"And the earth was without form, and void; and ..."
2,1001003,1,Genesis,1,3,"And God said, Let there be light: and there wa..."
3,1001004,1,Genesis,1,4,"And God saw the light, that it was good: and G..."
4,1001005,1,Genesis,1,5,"And God called the light Day, and the darkness..."

In [12]:
df_bible = df_bible.drop(['id', 'book'], axis=1)

df_bible["chapter"] = df_bible["chapter"].astype(str)
df_bible["verse"] = df_bible["verse"].astype(str)

In [13]:
df_bible["book_chapter_verse"] = df_bible["book_name"] + " " + df_bible["chapter"] + ":" + df_bible["verse"]

In [14]:
cols = ["book_chapter_verse", "text"]
df_bible = df_bible[cols]

df_bible.set_index('book_chapter_verse', inplace=True)
df_bible

                                                                 text
book_chapter_verse
Genesis 1:1         In the beginning God created the heaven and th...
Genesis 1:2         And the earth was without form, and void; and ...
Genesis 1:3         And God said, Let there be light: and there wa...
Genesis 1:4         And God saw the light, that it was good: and G...
Genesis 1:5         And God called the light Day, and the darkness...
...                                                               ...
Revelation 22:17    And the Spirit and the bride say, Come. And le...
Revelation 22:18    For I testify unto every man that heareth the ...
Revelation 22:19    And if any man shall take away from the words ...
Revelation 22:20    He which testifieth these things saith, Surely...
Revelation 22:21    The grace of our Lord Jesus Christ be with you...

[31103 rows x 1 columns]

In [15]:
df_bible.to_csv('../Data/finished_bible.txt', sep='\t')

In [16]:
df_bible = pd.read_csv('../Data/finished_bible.txt', sep='\t')

In [17]:
line = random.choice(open('../Data/finished_bible.txt').readlines())
print(line)

1 Samuel 6:18	And the golden mice, according to the number of all the cities of the Philistines belonging to the five lords, both of fenced cities, and of country villages, even unto the great stone of Abel, whereon they set down the ark of the LORD: which stone remaineth unto this day in the field of Joshua, the Bethshemite.