# Ex 1.3 Python *Lists*  
  
- [In Class: Quarterly Sales List ](#In-Class:-Quarterly-Sales-List )  
- [In Class: Sorting and Formatting](#In-Class:-Sorting-and-Formatting)  


- [Exercise 1.3](#Exercise-1.3)  
  - [Part 1: Monthly Sales](#Part-1:-Monthly-Sales)  
  - [Part 2: if Statement to Check if Name is in the List](#Part-2:-if-Statement-to-Check-if-Name-is-in-the-List)  
  - [Part 3: List of Favorite Fruits](#Part-3:-List-of-Favorite-Fruits)  
  - [Part 4: Adding New Names to Employee Names List](#Part-4:-Adding-new-names-to-employee_names-List)

# In Class: Quarterly Sales List  
In the Code cells below, add the code needed to accomplish the following:

1. Declare a List named quarterly_sales and fill it with the following values: 300000, 400000, 1300000, 500000  
2. Display the filled List
3. Display the first element of the List  
4. Display the last element of the List  
5. Sum the values in the List and display the sum
6. Calculate the average of the values in the List and display it

In [ ]:
# 1. Declare a List named quarterly_sales and fill it with the following values: 300000, 400000, 1300000, 500000

In [ ]:
# 2. Display the filled List

In [ ]:
# 3. Display the first element of the List

In [ ]:
# 4. Display the last element of the List

In [ ]:
# 5. Sum the values in the quarterly_sales List and assign the value to a variable named annual_sales


# Display the annual_sales value

In [ ]:
# 6. Calculate the average sales and display the value

# In Class: Sorting and Formatting

### List of Car Names

In [ ]:
# Create a List named car_names with the following values:  Chevrolet, Ford, Toyota, Honda, Pontiac, BMW


# Display the List


# Sort the list (descending) 


# Display the Sorted List

### List of Temperatures

In [ ]:
# Create a List named temps with the following values:  56, 67, 72, 84, 88, 70


# Display the List

In [ ]:
# Write code to determine which value is the highest and display it

# Exercise 1.3

## Part 1: Monthly Sales
1. In the cell below, declare a List named **monthly_sales** and fill it with the following values:  
3,000  
10,000  
15,000  
20,000  
20,000  
25,000  
22,000  
80,000  
20,000  
20,000  
40,000  
60,000  

2. Display the filled List  
3. Sum the values in the List and assign the value to a variable named *annual_sales*. Display this as a formatted dollar amount, with no decimal places
4. Calculate the average and display it as a formatted dollar amount, with two decimal places.   
5. Sort the List with the highest value first and display the sorted List


Note:  I included commas above to make the values more readable, but don't include them in your List values in your code.

In [ ]:
# 1. Create a List named monthly_sales


# 2. Display the filled List

In [ ]:
# 3. Sum the values in the List and assign the value to a variable named *annual_sales*. 

#   Display this as a formatted dollar amount, with no decimal places

In [ ]:
# 4. Calculate the average and display it as a formatted dollar amount, with two decimal places

In [ ]:
# 5. Sort the monthly_sales list and display the highest value first in the List

### Part 2: if Statement to Check if Name is in the List

In [ ]:
# Hard-code a name that is NOT in the list


# Create an if statement to display whether it name_to_check value is in the List or not
# If it IS, display: That name IS in the List!
# If it is NOT, display: That name IS NOT in the List

In [ ]:
# Hard-code a name that IS in the list


# Use the same if statement from the preceding code cell:

### Part 3: List of Favorite Fruits

In [ ]:
# Prompt the user for a fruit that they like

In [ ]:
# Declare a list with this fruit as the first element


# Display the List of favorite fruits

In [ ]:
# Prompt user for a fruit that they like


# Add that fruit to the List

In [ ]:
# Display the List of favorite fruits

In [ ]:
# Sort the List and display it

### Part 4: Adding new names to employee_names List  
1. Create a List named employee_names, with just the following name in it:  *Serena James* 
2. Display the List
3. Add the following names:  John Smith, Fred Martinez, Jane Miguel  
4. Display the List

In [ ]:
# 1. Create a List named employee_names, with just the following name in it:  Serena James

In [ ]:
# 2. Display the employee_names List

In [ ]:
# 3. Add the following names:  John Smith, Fred Martinez, Jane Miguel

In [ ]:
# 4. Display the employee_names List