<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Week-4,-Item-0.25:-Importing-California-Housing-Data" data-toc-modified-id="Week-4,-Item-0.25:-Importing-California-Housing-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Week 4, Item 0.25: Importing California Housing Data</a></span></li><li><span><a href="#Week-4,-Item-0.5---0.75:-Dealing-with-Missing-Data" data-toc-modified-id="Week-4,-Item-0.5---0.75:-Dealing-with-Missing-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Week 4, Item 0.5 - 0.75: Dealing with Missing Data</a></span></li><li><span><a href="#Week-4,-Item-1.5---2" data-toc-modified-id="Week-4,-Item-1.5---2-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Week 4, Item 1.5 - 2</a></span></li><li><span><a href="#Week-4,-Item-2.5" data-toc-modified-id="Week-4,-Item-2.5-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Week 4, Item 2.5</a></span></li><li><span><a href="#Week-4,-Item-2.6" data-toc-modified-id="Week-4,-Item-2.6-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Week 4, Item 2.6</a></span></li><li><span><a href="#Week-4,-Item-2.7" data-toc-modified-id="Week-4,-Item-2.7-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Week 4, Item 2.7</a></span></li><li><span><a href="#Week-4,-Item-2.8" data-toc-modified-id="Week-4,-Item-2.8-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Week 4, Item 2.8</a></span></li></ul></div>

# Week 4, Item 0.25: Importing California Housing Data

In [1]:
import pandas as pd

In [2]:
housing_df = pd.read_csv(
    "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv")
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

# Week 4, Item 0.5 - 0.75: Dealing with Missing Data

In [3]:
housing_df = housing_df.dropna(axis='index')
housing_df = housing_df.dropna(axis=1)
housing_df = housing_df.drop('ocean_proximity', axis=1)
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [4]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
dtypes: float64(9)
memory usage: 1.6 MB

# Week 4, Item 1.5 - 2

In [5]:
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline

In [6]:
three_feature_selector = SelectKBest(score_func=f_regression, k=3)
lm3 = LinearRegression()
lm3_pipeline = make_pipeline(three_feature_selector, lm3)

In [9]:
y_var = housing_df["median_house_value"]
X_var = housing_df.drop("median_house_value", axis=1)

# Week 4, Item 2.5

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    X_var, y_var, train_size=0.7, random_state=23)

In [13]:
lm3_pipeline.fit(X_train, y_train)

Pipeline(steps=[('selectkbest',
                 SelectKBest(k=3,
                             score_func=<function f_regression at 0x1B4334A8>)),
                ('linearregression', LinearRegression())])

In [14]:
lm3.coef_

array([-4.93474411e+03, -6.97287617e-02,  4.14095523e+04])

In [15]:
lm3.intercept_

222498.8043618207

# Week 4, Item 2.6

In [18]:
X_train.loc[12]

longitude             -122.260
latitude                37.850
housing_median_age      52.000
total_rooms           2491.000
total_bedrooms         474.000
population            1098.000
households             468.000
median_income            3.075
Name: 12, dtype: float64

In [20]:
y_train[12]

213500.0

# Week 4, Item 2.7

In [21]:
house_12 = X_train.loc[12]

In [22]:
lm3_pipeline.predict([house_12])

array([162879.41878035])

In [24]:
residual_12 = y_train[12] - lm3_pipeline.predict([house_12])
residual_12

array([50620.58121965])

# Week 4, Item 2.8

In [25]:
lm3_pipeline.score(X_train, y_train)

0.47568013973680634

In [26]:
lm3_pipeline.score(X_test, y_test)

0.4961274011007708