In [1]:
import pandas as pd

In [5]:
ferns = pd.read_csv("D:/Data/HoltResearchForest_FernObservations.csv")
ferns

,YEAR,SUBQID,BLOCK,QUAD,SUBQUAD,PROFILE,SP,FLA,FERTILE,STERILE,...,LENGTH,BROKEN,INSECT_LF_COUNT,FIM,EATEN,SORAL_COUNT,VCROWN,STATCODE,STATYEAR,LOCATION_NOTES
0,2000,1,3F,2,1,X,DI,644,2.0,2.0,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,AL,2000.0,1 M NO OF DRMA 262
1,2000,1,3F,2,1,X,DI,645,4.0,0.0,...,38.0,NaN,NaN,NaN,NaN,NaN,NaN,AL,2000.0,.5 M N OF DRMA 261
2,2000,1,3F,2,1,X,DI,646,2.0,4.0,...,38.0,NaN,NaN,NaN,NaN,NaN,NaN,AL,2000.0,2 M N OF DRMA 260
3,2000,1,3F,2,1,X,DI,648,4.0,2.0,...,52.0,NaN,NaN,NaN,NaN,NaN,NaN,AL,2000.0,1.5 M S OF DRMA 268
4,2000,1,3F,2,1,X,DI,649,1.0,3.0,...,37.0,NaN,NaN,NaN,NaN,NaN,NaN,AL,2000.0,3 M 2 OF DRMA 266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15649,2019,20,8C,4,4,N,DM,243,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G1,NaN,"1 M E OF 242, SMALL (EASY TO STEP ON)"
15650,2019,20,8C,4,4,N,DM,244,4.0,1.0,...,36.0,NaN,NaN,NaN,Y,8.0,NaN,AL,NaN,1 M NW OF 245
15651,2019,20,8C,4,4,X,DM,245,0.0,4.0,...,21.0,NaN,NaN,NaN,NaN,NaN,NaN,AL,NaN,"1 M S OF 242, SE OF 244"
15652,2019,20,8C,4,4,N,DM,246,3.0,0.0,...,31.0,NaN,NaN,NaN,NaN,5.0,NaN,AL,NaN,1 M E OF 243
15653,2019,20,8C,4,4,X,DM,247,2.0,1.0,...,40.0,NaN,NaN,NaN,Y,0.0,NaN,AL,NaN,2 M E OF 245

In [7]:
ferns.set_index("YEAR", inplace=True)

In [8]:
ferns = ferns[ferns.PROFILE != "N"]

In [9]:
ferns

,SUBQID,BLOCK,QUAD,SUBQUAD,PROFILE,SP,FLA,FERTILE,STERILE,TYPE_PLANT,...,LENGTH,BROKEN,INSECT_LF_COUNT,FIM,EATEN,SORAL_COUNT,VCROWN,STATCODE,STATYEAR,LOCATION_NOTES
YEAR,,,,,,,,,,,,,,,,,,,,,
2000,1,3F,2,1,X,DI,644,2.0,2.0,F,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,AL,2000.0,1 M NO OF DRMA 262
2000,1,3F,2,1,X,DI,645,4.0,0.0,F,...,38.0,NaN,NaN,NaN,NaN,NaN,NaN,AL,2000.0,.5 M N OF DRMA 261
2000,1,3F,2,1,X,DI,646,2.0,4.0,F,...,38.0,NaN,NaN,NaN,NaN,NaN,NaN,AL,2000.0,2 M N OF DRMA 260
2000,1,3F,2,1,X,DI,648,4.0,2.0,F,...,52.0,NaN,NaN,NaN,NaN,NaN,NaN,AL,2000.0,1.5 M S OF DRMA 268
2000,1,3F,2,1,X,DI,649,1.0,3.0,F,...,37.0,NaN,NaN,NaN,NaN,NaN,NaN,AL,2000.0,3 M 2 OF DRMA 266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,20,8C,4,4,X,DM,238,1.0,3.0,F,...,43.0,NaN,NaN,NaN,NaN,1.0,NaN,AL,NaN,"LEDGE/EYE, 2 M N OF 240"
2019,20,8C,4,4,X,DM,241,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G1,NaN,0.8 M N OF 242
2019,20,8C,4,4,X,DM,242,3.0,0.0,F,...,36.0,NaN,NaN,NaN,Y,7.0,NaN,AL,NaN,1 M N OF 244
2019,20,8C,4,4,X,DM,245,0.0,4.0,S,...,21.0,NaN,NaN,NaN,NaN,NaN,NaN,AL,NaN,"1 M S OF 242, SE OF 244"
2019,20,8C,4,4,X,DM,247,2.0,1.0,F,...,40.0,NaN,NaN,NaN,Y,0.0,NaN,AL,NaN,2 M E OF 245

In [10]:
X = ferns.drop(columns = "SP", axis=1)
y = ferns["SP"]

In [20]:
from sklearn.model_selection import train_test_split, GridSearchCV

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
rfc = RandomForestClassifier()

params = ("")

In [ ]:
grid_search =