# Imports

In [16]:
import pandas as pd
import random

# Bible Verse Data

### Load and view file in dataframe

In [17]:
df = pd.read_excel('/Users/natha/Onedrive/Desktop/GitHub/personal/Data/bible_kjv.xlsx')

df.head(2)

,id,book,chapter,verse,text
0,1001001,1,1,1,In the beginning God created the heaven and th...
1,1001002,1,1,2,"And the earth was without form, and void; and ..."

### View and edit columns

In [18]:
df.columns

Index(['id', 'book', 'chapter', 'verse', 'text'], dtype='object')

In [19]:
rename_columns = {'b':'book',
                 'c':'chapter',
                 'v':'verse',
                 't':'text'}

df.rename(columns = rename_columns, inplace=True)
df.head(2)

,id,book,chapter,verse,text
0,1001001,1,1,1,In the beginning God created the heaven and th...
1,1001002,1,1,2,"And the earth was without form, and void; and ..."

### View and edit datatypes

In [20]:
df.dtypes

id          int64
book        int64
chapter     int64
verse       int64
text       object
dtype: object

In [21]:
df['book']=pd.to_numeric(df['book']).astype(object)
df.dtypes

id          int64
book       object
chapter     int64
verse       int64
text       object
dtype: object

# Books of the Bible Data

### Load and view file in dataframe

In [22]:
df_books = pd.read_excel('/Users/natha/Onedrive/Desktop/GitHub/personal/Data/bible_books.xlsx')

df_books.head(2)

   book book_name
0     1   Genesis
1     2    Exodus

### View and edit columns

In [23]:
df_books.columns

Index(['book', 'book_name'], dtype='object')

### View and edit datatypes

In [24]:
df_books.dtypes

book          int64
book_name    object
dtype: object

# Merge

### Left-joining Bible Verse Data with Books Data to create complete Bible database

In [25]:
df_bible = pd.merge(df_books, df, on = 'book', how = 'left')
df_bible.head()

,book,book_name,id,chapter,verse,text
0,1,Genesis,1001001,1,1,In the beginning God created the heaven and th...
1,1,Genesis,1001002,1,2,"And the earth was without form, and void; and ..."
2,1,Genesis,1001003,1,3,"And God said, Let there be light: and there wa..."
3,1,Genesis,1001004,1,4,"And God saw the light, that it was good: and G..."
4,1,Genesis,1001005,1,5,"And God called the light Day, and the darkness..."

### Editing columns in new dataframe

In [26]:
new_column_order = ['id','book','book_name','chapter','verse','text']

df_bible = df_bible[new_column_order]

print('Number of rows: ',df_bible.shape[0])
print('Number of columns: ',df_bible.shape[1])
df_bible.head()

Number of rows:  31103
Number of columns:  6

,id,book,book_name,chapter,verse,text
0,1001001,1,Genesis,1,1,In the beginning God created the heaven and th...
1,1001002,1,Genesis,1,2,"And the earth was without form, and void; and ..."
2,1001003,1,Genesis,1,3,"And God said, Let there be light: and there wa..."
3,1001004,1,Genesis,1,4,"And God saw the light, that it was good: and G..."
4,1001005,1,Genesis,1,5,"And God called the light Day, and the darkness..."

In [27]:
df_bible.set_index('book_name')
df_bible = df_bible.drop(['book', 'id'], axis=1)

In [28]:
df_bible.to_csv('../Data/finished_bible.txt', sep='\t')

In [29]:
df_bible = pd.read_csv('../Data/finished_bible.txt', sep='\t')

In [30]:
line = random.choice(open('../Data/finished_bible.txt').readlines())
print(line)

16598	Proverbs	7	23	Till a dart strike through his liver; as a bird hasteth to the snare, and knoweth not that it is for his life.