In [1]:
# Import libraries 

import numpy as np # linear algebra
import pandas as pd # data processing, 

# Libraries for data visualization
import matplotlib.pyplot as pplt  
import seaborn as sns 
from pandas.plotting import scatter_matrix

# Import scikit_learn module for the algorithm/model: Linear Regression
from sklearn.linear_model import LogisticRegression
# Import scikit_learn module to split the dataset into train.test sub-datasets
from sklearn.model_selection import train_test_split 
# Import scikit_learn module for k-fold cross validation
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
# import the metrics class
from sklearn import metrics
# import stats for accuracy 
import statsmodels.api as sm

In [2]:
#load the dataset provided
df = pd.read_excel('../Data/Apollo Historic Launch Weather Data.xlsx')
df

,z,Apollo 7,Apollo 8,Apollo 9,Apollo 10,Apollo 11,Apollo 12,Apollo 13,Apollo 14,Apollo 15,Apollo 16,Apollo 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Surface Observations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pressure (lb/in²),14.765,14.804,14.642,14.779,14.798,14.621,14.676,14.652,14.788,14.769,14.795
3,Temperature (°F),82.9,59,67.3,80.1,84.9,68,75.9,71.1,85.6,88.2,70
4,Relative Humidity,0.65,0.88,0.61,0.75,0.73,0.92,0.57,0.86,0.68,0.44,0.93
5,Dew Point (°F),70,56,53,72,75,65,60,67,74,62.6,68
6,Visibility (s mi),11.5,9.9,9.9,11.2,9.9,3.7,9.9,9.9,9.9,9.9,6.8
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Surface Wind Conditions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1st Level Wind Site (ft),64,60,60,60,60,60,60,60,60,60,60
10,1st Level Wind Speed (ft/sec),33.5,18.7,22.6,32.2,10.8,22.3,20.7,16.4,16.7,20.7,13.5
11,1st Level Wind Direction (deg),90,348,160,142,175,280,105,255,156,269,5
12,2nd Level Wind Site (ft),N/R[2],N/R,N/R,N/R,N/R,N/R,N/R,530,530,530,530
13,2nd Level Wind Speed (ft/sec),N/R,N/R,N/R,N/R,N/R,N/R,N/R,27.9,17.7,16.7,17.7
14,2nd Level Wind Direction (deg),N/R,N/R,N/R,N/R,N/R,N/R,N/R,275,158,256,335
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Cloud Coverage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1st Level Cover,0.3,0.4,0.7,0.4,0.1,100%/rain,0.4,0.7,0.7,0.2,0.2
18,1st Level Type,Cumulonimbus,Cirrus,Stratocumulus,Cumulus,Cumulus,Stratocumulus,Altocumulus,Cumulus,Cirrus,Cumulus,Stratocumulus
19,1st Level Altitude (ft),2100,N/R,3500,2200,2400,2100,19000,4000,25000,3000,26000
20,2nd Level Cover,---,---,1,0.2,0.2,---,1,0.2,---,---,0.5
21,2nd Level Type,---,---,Altostratus,Altocumulus,Altocumulus,---,Cirrostratus,Altocumulus,---,---,Cirrus
22,2nd Level Altitude (ft),---,---,9000,11000,15000,---,26000,8000,---,---,26000
23,3rd Level Cover,---,---,---,1,0.9,---,---,---,---,---,---
24,3rd Level Type,---,---,---,Cirrus,Cirrostratus,---,---,---,---,---,---
25,3rd Level Altitude (ft),---,---,---,Unknown,Unknown,---,---,---,---,---,---
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Maximum Wind Speed/Ascent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Speed (ft/sec),136.2,150.9,250,154,203,256,246,207,249.3,85.6,252.6
29,Altitude (ft),172000,108300,38480,295276,183727,180446,256562,193570,182900,38880,145996
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Maximum Dynamic Pressure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Ground Elapsed Time (sec),75.5,78.9,85.5,82.6,83,81.1,81.3,81,82,86,82.5
33,Max q (lb/ft2),665.6,776.938,630.73,694.232,735.17,682.95,651.63,655.8,768.58,726.81,701.75
34,Altitude (ft),39903,44062,45138,43366,44512,42133,40876,40398,44971,47122,42847
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Maximum Wind Conditions in,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,High Dynamic Pressure Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Altitude (ft),44500,49900,38480,46520,37400,46670,44540,43270,45110,38880,39945
39,Wind Speed (ft/sec),51.1,114.1,250,139.4,31.6,156.1,182.5,173.2,61.1,85.6,147.9
40,Wind Direction (deg),309,284,264,270,297,245,252,255,63,257,311
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Maximum Wind Components,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Pitch Plane - Pitch (ft/sec),51.8,102.4,244.4,133.9,24.9,154.9,182.4,173.2,-58.4,85.3,114.2
44,Pitch Plane - Altitude (ft),36800,49500,38390,45280,36680,46670,44540,43720,45030,38880,39945
45,Yaw Plane - Yaw (ft/sec),51.5,74.1,71.2,61.4,23.3,-64,49.2,81.7,24,41,95.8
46,Yaw Plane - Altitude (ft),47500,51800,37500,48720,39530,44780,42750,33460,44040,50850,37237
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Maximum Shear Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,(D h=1000 m),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Pitch Plane Shear (sec-1),0.0113,0.0103,0.0248,0.0203,0.0077,0.0183,0.0166,0.0201,0.011,0.0095,0.0177
51,Pitch Plane Altitude (ft),48100,52500,49700,50200,48490,46750,50610,43720,36830,44780,26164
52,Yaw Plane Shear (sec-1),0.0085,0.0157,0.0254,0.0125,0.0056,0.0178,0.0178,0.0251,0.0071,0.0114,0.0148
53,Yaw Plane Altitude (ft),46500,57800,48160,50950,33790,47820,45850,38880,47330,50850,34940
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Maximum % Density Deviations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Negative Deviation From PRA63[3],-0.1,-0.7,-6.1,-1,-0.2,-7.6,-2.8,-5,None,-0.8,0
57,Altitude (n mi),4.32,4.32,7.56,4.32,4.45,8.5,7.69,7.69,None,4.86,0
58,Positive Deviation from PRA63,1.3,3.3,None,3.3,4.4,1.2,0.5,None,4.2,4,1.7
59,Altitude (n mi),5.8,8.5,None,7.56,7.69,5.67,8.64,None,7.56,8.64,7.02

In [3]:
#salary dataset info to find columns and count of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   z          51 non-null     object
 1   Apollo 7   40 non-null     object
 2   Apollo 8   40 non-null     object
 3   Apollo 9   40 non-null     object
 4   Apollo 10  40 non-null     object
 5   Apollo 11  40 non-null     object
 6   Apollo 12  40 non-null     object
 7   Apollo 13  40 non-null     object
 8   Apollo 14  40 non-null     object
 9   Apollo 15  40 non-null     object
 10  Apollo 16  40 non-null     object
 11  Apollo 17  40 non-null     object
dtypes: object(12)
memory usage: 5.8+ KB

In [4]:
#running a loop of value_counts of each column to find out unique values. 
for c in df.columns:
    print ("---- %s ---" % c)
    print (df[c].value_counts())

---- z ---
Altitude (ft)                       3
Altitude (n mi)                     2
Max q (lb/ft2)                      1
Ground Elapsed Time (sec)           1
Maximum Wind Conditions in          1
Pitch Plane Altitude (ft)           1
Yaw Plane Altitude (ft)             1
2nd Level Altitude (ft)             1
Speed (ft/sec)                      1
1st Level Wind Direction (deg)      1
Maximum % Density Deviations        1
Dew Point (°F)                      1
Yaw Plane - Altitude (ft)           1
Maximum Wind Components             1
2nd Level Wind Site (ft)            1
3rd Level Altitude (ft)             1
Visibility (s mi)                   1
1st Level Altitude (ft)             1
Pitch Plane - Altitude (ft)         1
2nd Level Cover                     1
   (D h=1000 m)                     1
Surface Observations                1
Maximum Wind Speed/Ascent           1
Temperature (°F)                    1
Yaw Plane - Yaw (ft/sec)            1
Cloud Coverage                      1
Yaw Plane Shear (sec-1)             1
Maximum Shear Values                1
Positive Deviation from PRA63       1
Pitch Plane Shear (sec-1)           1
Pressure (lb/in²)                   1
Wind Speed (ft/sec)                 1
Negative Deviation From PRA63[3]    1
1st Level Wind Speed (ft/sec)       1
1st Level Wind Site (ft)            1
Pitch Plane - Pitch (ft/sec)        1
Wind Direction (deg)                1
Relative Humidity                   1
   High Dynamic Pressure Region     1
3rd Level Type                      1
2nd Level Type                      1
Maximum Dynamic Pressure            1
1st Level Cover                     1
2nd Level Wind Speed (ft/sec)       1
Surface Wind Conditions             1
2nd Level Wind Direction (deg)      1
3rd Level Cover                     1
1st Level Type                      1
Name: z, dtype: int64
---- Apollo 7 ---
---             6
N/R             2
N/R[2]          1
11.5            1
44500           1
51.8            1
51.1            1
14.765          1
47500           1
64              1
90              1
136.2           1
70              1
4.32            1
0.0113          1
1.3             1
665.6           1
75.5            1
36800           1
39903           1
172000          1
33.5            1
Cumulonimbus    1
48100           1
82.9            1
5.8             1
0.0085          1
0.3             1
-0.1            1
51.5            1
2100            1
309             1
46500           1
0.65            1
Name: Apollo 7, dtype: int64
---- Apollo 8 ---
---        6
N/R        4
14.804     1
18.7       1
57800      1
-0.7       1
3.3        1
4.32       1
56         1
776.938    1
9.9        1
74.1       1
8.5        1
108300     1
78.9       1
0.0157     1
52500      1
60         1
150.9      1
51800      1
49500      1
44062      1
284        1
0.4        1
102.4      1
348        1
49900      1
114.1      1
Cirrus     1
0.0103     1
59         1
0.88       1
Name: Apollo 8, dtype: int64
---- Apollo 9 ---
---              3
N/R              3
250              2
38480            2
None             2
60               1
45138            1
14.642           1
9000             1
1                1
85.5             1
9.9              1
264              1
71.2             1
Altostratus      1
67.3             1
0.7              1
38390            1
0.0248           1
22.6             1
Stratocumulus    1
160              1
49700            1
48160            1
-6.1             1
37500            1
3500             1
0.0254           1
244.4            1
53               1
630.73           1
7.56             1
0.61             1
Name: Apollo 9, dtype: int64
---- Apollo 10 ---
N/R            3
133.9          1
Unknown        1
2200           1
11000          1
139.4          1
82.6           1
0.2            1
80.1           1
14.779         1
11.2           1
45280          1
72             1
7.56           1
50950          1
4.32           1
3.3            1
1              1
154            1
61.4           1
-1             1
50200          1
60             1
46520          1
Cirrus         1
694.232        1
48720          1
270            1
142            1
295276         1
Altocumulus    1
0.0125         1
43366          1
0.0203         1
0.4            1
32.2           1
Cumulus        1
0.75           1
Name: Apollo 10, dtype: int64
---- Apollo 11 ---
N/R             3
33790           1
203             1
84.9            1
83              1
23.3            1
0.2             1
0.0056          1
14.798          1
Unknown         1
75              1
183727          1
10.8            1
9.9             1
36680           1
Cirrostratus    1
4.45            1
Cumulus         1
297             1
Altocumulus     1
15000           1
31.6            1
7.69            1
-0.2            1
175             1
39530           1
0.1             1
48490           1
4.4             1
0.0077          1
60              1
0.9             1
2400            1
735.17          1
24.9            1
44512           1
37400           1
0.73            1
Name: Apollo 11, dtype: int64
---- Apollo 12 ---
---              6
N/R              3
46670            2
14.621           1
280              1
65               1
3.7              1
68               1
8.5              1
1.2              1
47820            1
156.1            1
81.1             1
42133            1
22.3             1
5.67             1
154.9            1
60               1
Stratocumulus    1
0.0178           1
180446           1
256              1
46750            1
682.95           1
44780            1
0.0183           1
100%/rain        1
-7.6             1
2100             1
245              1
-64              1
0.92             1
Name: Apollo 12, dtype: int64
---- Apollo 13 ---
---             3
N/R             3
44540           2
60              2
14.676          1
0.0178          1
81.3            1
26000           1
Altocumulus     1
-2.8            1
0.0166          1
75.9            1
9.9             1
8.64            1
Cirrostratus    1
0.5             1
1               1
20.7            1
45850           1
50610           1
42750           1
182.4           1
0.4             1
246             1
651.63          1
105             1
40876           1
49.2            1
256562          1
182.5           1
19000           1
7.69            1
252             1
0.57            1
Name: Apollo 13, dtype: int64
---- Apollo 14 ---
---            3
255            2
None           2
43720          2
173.2          2
530            1
0.2            1
16.4           1
207            1
40398          1
9.9            1
81             1
71.1           1
43270          1
Altocumulus    1
67             1
0.7            1
275            1
27.9           1
81.7           1
60             1
0.0251         1
38880          1
Cumulus        1
4000           1
193570         1
8000           1
0.0201         1
14.652         1
33460          1
655.8          1
7.69           1
-5             1
0.86           1
Name: Apollo 14, dtype: int64
---- Apollo 15 ---
---       6
None      2
63        1
82        1
17.7      1
16.7      1
14.788    1
0.0071    1
74        1
9.9       1
24        1
44040     1
7.56      1
-58.4     1
0.011     1
4.2       1
0.7       1
85.6      1
156       1
61.1      1
25000     1
158       1
768.58    1
47330     1
530       1
45030     1
36830     1
44971     1
182900    1
45110     1
Cirrus    1
249.3     1
60        1
0.68      1
Name: Apollo 15, dtype: int64
---- Apollo 16 ---
---        6
38880      3
50850      2
85.6       2
62.6       1
47122      1
86         1
16.7       1
14.769     1
9.9        1
269        1
8.64       1
4          1
4.86       1
-0.8       1
257        1
20.7       1
88.2       1
726.81     1
60         1
85.3       1
Cumulus    1
256        1
530        1
44780      1
41         1
0.0095     1
0.2        1
3000       1
0.0114     1
0.44       1
Name: Apollo 16, dtype: int64
---- Apollo 17 ---
---              3
39945            2
26000            2
0                2
1.7              1
335              1
14.795           1
13.5             1
145996           1
Stratocumulus    1
82.5             1
7.02             1
70               1
5                1
68               1
0.0177           1
0.5              1
0.2              1
147.9            1
701.75           1
Cirrus           1
6.8              1
17.7             1
42847            1
530              1
34940            1
0.0148           1
114.2            1
26164            1
37237            1
311              1
95.8             1
252.6            1
60               1
0.93             1
Name: Apollo 17, dtype: int64

In [8]:
#Transform the data set into a data frame
#X axis = We concatenate the Relationship, Education,Race,Occupation columns concate using np.c_ provided by the numpy library
df_x = pd.DataFrame(np.c_[df['Visibility (s mi)'], df['Surface Observations'],df['Maximum Wind Speed/Ascent'],df['Wind Speed (ft/sec)'],df['Wind Direction (deg)'],df['Relative Humidity']], columns = ['relationship','education','race','occupation','gender','marital','workclass'])
#Y axis = Our dependent variable or the income of adult i.e Income
df_y = pd.DataFrame(df['Maximum Dynamic Pressure'])

KeyError: 'Visibility (s mi)'

In [ ]:
#Initialize the linear regression model
reg = LogisticRegression()
#Split the data into 77% training and 33% testing data
#NOTE: We have to split the dependent variables (x) and the target or independent variable (y)
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.33, random_state=42)

In [ ]:
#Train our model with the training data
reg.fit(x_train, y_train)
#print our price predictions on our test data
y_pred = reg.predict(x_test)

In [ ]:
#feeding the predict function with our test values in the format 
[['relationship','education','race','occupation','gender','marital','workclass']]
reg.predict([[1,7,3,7,0,2,0]])

In [ ]:
#printing the accuracy values 
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))