In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_excel("../../Data/BDAT_6023_Assignment_1_Data File.xlsx")

In [3]:
df.head()

,pick_date,user_name,unit_type,units,location_visits,units_per_transaction,time_efficiency,shift
0,2020-02-20,BALUIA-KOLOGE,NaN,1,1.0,1.00,44.17,2
1,2020-01-20,BALUEL-KADILLA,NaN,1,1.0,1.00,42.50,1
2,2019-12-27,JADIEJ-JIBELEB,NaN,519,313.0,1.66,68.88,2
3,2019-12-31,JODHAL-JIBELEB2,NaN,28,28.0,1.00,2.96,1
4,2020-01-17,JEJOBE GIBOL,NaN,6,1.0,6.00,57.92,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1955 entries, 0 to 1954
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   pick_date              1955 non-null   datetime64[ns]
 1   user_name              1955 non-null   object
 2   unit_type              0 non-null      float64
 3   units                  1955 non-null   int64
 4   location_visits        1919 non-null   float64
 5   units_per_transaction  1955 non-null   float64
 6   time_efficiency        1955 non-null   float64
 7   shift                  1955 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 122.3+ KB

In [5]:
df['location_visits'].isna().sum()

36

In [6]:
df['location_visits'] = df["location_visits"].replace(np.nan, "0").astype(int)

In [7]:
df['location_visits'].isna().sum()

0

In [ ]:
df = df.sort_values(by=['pick_date', 'shift', 'time_efficiency'], ascending=[True, True, False])

In [ ]:
df.info()

In [ ]:
df.head()