# 3.2b Saving a *pandas* Dataframes as a Pickle file   

- [Saving a *pandas* dataframe as a *pickle* file](#Saving-a-pandas-dataframe-as-a-pickle-file)  


- **Data Files Required**  
  - olympics.csv

In [10]:
#Import pandas 
import pandas as pd

### Read the csv file into a pandas dataframe

In [11]:
#Read the csv file into a pandas dataframe
#Note: This file is in the Data folder underneath this folder 
df = pd.read_csv('Data//olympics.csv')

#Display the first five records/rows in the dataframe
df.head(3)

   Rank              Country  Gold  Silver  Bronze  Total
0     1  United States (USA)    46      37      38    121
1     2  Great Britain (GBR)    27      23      17     67
2     3          China (CHN)    26      18      26     70

In [12]:
# Display of number of rows and columns in the dataframe
print("Number of Rows:  ", df.shape[0])
print("Number of Columns:  ", df.shape[0])

Number of Rows:   87
Number of Columns:   87

# Saving a *pandas* dataframe as a *pickle* file  
- A pandas dataframe exists only in RAM, but often we want to save it to a file.  
- A term used for this is *Serializing* the dataframe to a data file.  
- *pickle* is a python library utility that ships with the standard python distribution that allows us to serialize a pandas dataframe as a file
- A pickle file is binary and it has it's own file format.

In [32]:
import pickle

In [33]:
# Save the df dataframe as a pickle file in the Data folder
df.to_pickle('./Data/olympics.pkl')

In [34]:
# Read (unpickle) the saved pickle data frame 
df_unpickled = pd.read_pickle('./Data/olympics.pkl')

In [35]:
# Display the pandas dataframe read from the pickle file
df_unpickled.head(3)

   Rank              Country  Gold  Silver  Bronze  Total
0     1  United States (USA)    46      37      38    121
1     2  Great Britain (GBR)    27      23      17     67
2     3          China (CHN)    26      18      26     70

In [37]:
# Display of number of rows and columns in the dataframe to doublecheck
print("Number of Rows:  ", df_unpickled.shape[0])
print("Number of Columns:  ", df_unpickled.shape[1])

Number of Rows:   87
Number of Columns:   6