# Ex 3.2 *pandas* Dataframes: Info and Appending    

- **In Class**  
  - [Reading and Exploring the Household Data Source](#In-Class:-Reading-and-Exploring-the-Household-Data-Source)  
  - [Save the Household Dataframe as a Pickle File](#In-Class:-Save-the-Household-Dataframe--as-a-Pickle-File)  
  - [In Class: Append September data to the July/Aug data](#In-Class:-Append-September-data-to-the-July/Aug-data)



- **Exercise 3.2**  
  - [Part 1: Read and Pickle - 02.2_Task_SmallData.xlsx](#Part-1:-Read-and-Pickle---02.2_Task_SmallData.xlsx) 
  - [Part 2: Read and Pickle - w3schools_Data.xlsx - Orders](#Part-2:-Read-and-Pickle---w3schools_Data.xlsx---Orders) 
  - [Part 3: Append Two Dataframes and Pickle](#Part-3:-Append-Two-Dataframes-and-Pickle)


- **Data Files Required**  
  - Data_Household.xlsx  
  - df_Appended_8_2011.pkl 
  - mnth9_2011.csv  
  - 02.2_Task_SmallData.xlsx
  - w3schools_Data.xlsx
  - g20141ca.xlsx    
  - g20141or.xlsx

In [118]:
#Import pandas 
import pandas as pd

# In Class: Reading and Exploring the *Household* Data Source  
Data Source: **Data_Household.xlsx**  
Worksheet:   **Data_Household**

Add code to the cells below to answer the following questions:  
1. How many rows and columns do we have in the Dataframe?  
2. What are the datatypes of the columns  
3. Show some statistical stats for the columns in the dataframe  

Note: Each cell should have the question (with number) as a comment at the top.

In [119]:
# Read the Excel spreadsheet into a pandas dataframe
# Set path to Excel file
file = 'Data//Data_Household.xlsx'

# Read the Excel file
df = pd.read_excel('Data//Data_Household.xlsx')

# Display dataframe
df.dtypes

Month       object
Category    object
Amount       int64
dtype: object

In [120]:
# Question:  1. How many rows and columns do we have in the Dataframe? 
print("Number of columns :", df.shape[1])

Number of columns : 3

In [121]:
# Questions:  
# 2. What are the datatypes of the columns  
df.dtypes

Month       object
Category    object
Amount       int64
dtype: object

In [122]:
# 3. Show some stats (count, mean, std, ...) for the numeric column in the dataframe
df.describe()

           Amount
count   12.000000
mean   163.250000
std     66.533826
min     74.000000
25%    111.250000
50%    150.000000
75%    227.500000
max    260.000000

### Exploring the Household Dataframe  Columns  
Create cells below to answer the following questions:  
1. How many unique values are in the Month column?    
2. What are the unique values in the Month column?  
3. How many unique values are in the Category column?   
4. What are the unique values in the Category column?  



Note: Each cell should have the question (with number) as a comment at the top.

In [123]:
# 1. Display unique values are in the Month column
df.Month.unique()

array(['January', 'February', 'March'], dtype=object)

In [124]:
# 4. Display unique values are in the Category column
df.Category.unique()

array(['Transportation', 'Grocery', 'Household', 'Entertainment'],
      dtype=object)

# In Class: Save the Household Dataframe  as a Pickle File    
1. Save the Household dataframe as a pickle file in the Data folder of your repo  
2. Read the pickle file back into a new test dataframe 
3. Display the new dataframe to make sure it's correct

In [125]:
# 1. Save the Household dataframe as a pickle file in the Data folder of your repo 
df.to_pickle('./Data/Data_Household.pkl')

In [126]:
# 2. Read the pickle file back into a new test dataframe
df_test =  pd.read_pickle('./Data/Data_Household.pkl')

In [127]:
# 3. Display the new dataframe to make sure it's correct
df_test.head()

      Month        Category  Amount
0   January  Transportation      74
1   January         Grocery     235
2   January       Household     175
3   January   Entertainment     100
4  February  Transportation     115

# In Class: Append September data to the July/Aug data  
1. [Load prior Appended data in a pickle file into a Dataframe](#1.-Load-prior-Appended-data-in-a-pickle-file-into-a-Dataframe)  
2. [Read new csv data (to append) into a Dataframe](#2.-Read-new-csv-data-(to-append)-into-a-Dataframe:--mnth9_2011.csv)  
3. [Append df_mnth9_2011 to df_Appended_8_2011](#3.-Append-df_mnth9_2011-to-df_Appended_8_2011)
4. [Save the appended dataframe as a new pickle file](#4.-Save-the-appended-dataframe-as-a-new-pickle-file)

### 1. Load prior Appended data in a pickle file into a Dataframe
Should have:  
- Number of Rows:   22  
- Number of Columns:   6

In [128]:
# Read the pickle file containing the appended July and August data (df_Appended_8_2011.pkl)
df = pd.read_pickle('./Data/df_Appended_8_2011.pkl')

In [129]:
# Display number of rows and columns and double-check those are correct numbers
print("Number of rows: ", df.shape[0])
print("Number of columns: ", df.shape[1])

Number of rows:  22
Number of columns:  6

###  2. Read new csv data (to append) into a Dataframe:  *mnth9_2011.csv*  
- Filename:  mnth9_2011.csv
- Number of Rows:   10
- Number of Columns:   6

In [130]:
#Read the mnth9_2011.csv file into a pandas dataframe
df_mnth9_2011 = pd.read_csv('Data//mnth9_2011.csv')

In [131]:
# Display number of rows and columns and double-check those are correct numbers
print("Number of rows: ", df_mnth9_2011.shape[0])
print("Number of rows: ", df_mnth9_2011.shape[1])

Number of rows:  10
Number of rows:  6

In [132]:
#Display the first three rows in the dataframe
df_mnth9_2011.head(3)

     Order_ID  Order_Type  Employee_ID  Customer_ID Order_Date Delivery_Date
0  1243269405           2     99999999          928  04SEP2011     08SEP2011
1  1243279343           3     99999999           27  05SEP2011     10SEP2011
2  1243290080           1       121057           31  06SEP2011     06SEP2011

### 3. Append df_mnth9_2011 to df_Appended_8_2011 
After appending should end up with:  
- Number of Rows:   22 + 10 = 32  
- Number of Columns:   6

In [133]:
# Append df_mnth9_2011 to df_Appended_8_2011
df_Appended_9_2011 = df_mnth9_2011.append(df, ignore_index=True)

In [134]:
# Append check for df_Appended_9_2011
print("Number of rows: ", df_Appended_9_2011.shape[0])
print("Number of columns: ", df_Appended_9_2011.shape[1])

Number of rows:  32
Number of columns:  6

### 4. Save the appended dataframe as a new pickle file

In [135]:
# Save the Appended Dataframe as a Pickle file
import pickle

# Save the df dataframe as a pickle file in the Data folder
df_Appended_9_2011.to_pickle('./Data/df_Appended_9_2011.pkl')

In [136]:
# Check that the pickle file has the correct number of rows and columns
# Read (unpickle) the saved pickle data frame 
df_pickle_test = pd.read_pickle('./Data/df_Appended_9_2011.pkl')

# Display number of rows and columns and double-check those are correct numbers
print("Number of rows: ", df_pickle_test.shape[0])
print("Number of columns: ", df_pickle_test.shape[1])

Number of rows:  32
Number of columns:  6

# Exercise 3.2

# Part 1: Read and Pickle - 02.2_Task_SmallData.xlsx
- Data source:  **02.2_Task_SmallData.xlsx** Excel file  
- Worksheet:  *Large Data*   


1. Name the pandas dataframe:  *df_large_data*  
2. Display the number of rows and columns in the dataframe  
3. Display the data types of the columns in the dataframe  
4. Save the dataframe as a pickle file with the same name (except file extension) as the source data file

In [137]:
# Locate file
file = 'Data//02.2_Task_SmallData.xlsx'

# Read file
df_large_data = pd.ExcelFile('Data//02.2_Task_SmallData.xlsx')

# Find worksheet
df_large_data.sheet_names

['Small Data', 'Large Data']

In [138]:
# Filter to Large Data
df_large_data_categories = pd.read_excel(file, 'Large Data')
df_large_data_categories.head()

,OrderID,Order Date,Product,Size (US),Colour,Price ($),Store,Returned,Gender
0,1,2015-01-02,Boots,7,Gold,25,California,Yes,Female
1,2,2015-01-02,Boots,4,Black,25,New York,NaN,Female
2,3,2015-01-02,Boots,6,Red,25,Georgia,NaN,Female
3,4,2015-01-03,House Slippers,11,Black,8,Internet,NaN,Female
4,5,2015-01-03,Boots,6,Silver,25,California,NaN,Female

In [139]:
# Display the number of rows and columns in the dataframe
print("Number of rows: ", df_large_data_categories.shape[0])
print("Number of columns: ", df_large_data_categories.shape[1])

Number of rows:  1000
Number of columns:  9

In [140]:
# Display the data types of the columns in the dataframe
df_large_data_categories.dtypes

OrderID                int64
Order Date    datetime64[ns]
Product               object
Size (US)              int64
Colour                object
Price ($)              int64
Store                 object
Returned              object
Gender                object
dtype: object

In [141]:
# Save the dataframe as a pickle file with the same name (except file extension) as the source data file
df_large_data_categories.to_pickle('./Data/02.2_Task_SmallData.pkl')

# Part 2: Read and Pickle - w3schools_Data.xlsx - Orders
- Data source:  **w3schools_Data.xlsx** Excel file  
- Worksheet:  *Orders*   


1. Name the pandas dataframe:  *df_Orders*  
2. Display the number of rows and columns in the dataframe  
3. Display the data types of the columns in the dataframe  
4. Save the dataframe as a pickle file with the same name (except file extension) as the source data file

In [142]:
# Get file
file = 'Data//w3schools_Data.xlsx'

# Read file
df_Orders = pd.read_excel('Data//w3schools_Data.xlsx')

In [143]:
# Display the number of rows and columns in the dataframes
print("Number of rows: ", df_Orders.shape[0])
print("Number of columns: ", df_Orders.shape[1])

Number of rows:  95
Number of columns:  7

In [144]:
# Display the data types of the columns in the dataframe
df_Orders.dtypes

Customers Table    object
Unnamed: 1         object
Unnamed: 2         object
Unnamed: 3         object
Unnamed: 4         object
Unnamed: 5         object
Unnamed: 6         object
dtype: object

In [145]:
# Save the dataframe as a pickle file with the same name (except file extension) as the source data file
df_Orders.to_pickle('./Data/w3schools_Data.pkl')

# Part 3: Append Two Dataframes and Pickle  
1. Append the data from the following two Excel files into a Dataframe named **df_Geography**
   1. g20141ca.xlsx  
   2. g20141or.xlsx  
2. These files do not have column headers at the top, so you're going to have to add them -- **before** you read them with pandas!  
  1. The file that contains the column headers is: **2014_SFGeoFileTemplate.xlsx**  
  2. So you need to grab the column headers from 2014_SFGeoFileTemplate and add them to the top of the g files before you read them into pandas dataframes.  
  3. My tip would be to read the the csv files with Excel and then save them as Excel files. Then it's easy to add the column header row to the top of the Excel file.
 
3. For appending, use exactly the steps and code and markdown cells demonstrated above!

### g20141ca.xlsx 
- Filename:  g20141ca.xlsx 
- Number of Rows:   784
- Number of Columns:   53

In [146]:
# Get and read file
file = 'Data//g20141ca.xlsx'
df_ca = pd.read_excel('Data//g20141ca.xlsx')

In [147]:
# List number of rows and columns
print("Number of rows: ", df_ca.shape[0])
print("Number of columns: ", df_ca.shape[1])

Number of rows:  784
Number of columns:  53

### g20141or.xlsx  
- Filename:  g20141or.xlsx 
- Number of Rows:   92
- Number of Columns:   53

In [148]:
# Get and read file
file = 'Data//g20141or.xlsx'
df_or = pd.read_excel('Data//g20141or.xlsx')

In [149]:
# List number of rows and columns
print("Number of rows: ", df_or.shape[0])
print("Number of columns: ", df_or.shape[1])

Number of rows:  92
Number of columns:  53

### Append the Dataframes into a new dataframe named:  df_Appended_CA_OR 
After appending should end up with:  
- Number of Rows:   876  
- Number of Columns:   53

In [150]:
# Append dataframes into new dataframe titled df_Appended_CA_OR
df_Appended_CA_OR = df_ca.append(df_or, ignore_index=True)

In [151]:
# List number of rows and columns
print("Number of rows: ", df_Appended_CA_OR.shape[0])
print("Number of columns: ", df_Appended_CA_OR.shape[1])

Number of rows:  876
Number of columns:  53

### Save the appended dataframe as a pickle file

In [152]:
# Save appended dataframe as a pickle file
df_Appended_CA_OR.to_pickle('./Data/df_Appended_CA_OR.pkl')